<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>End point type5 (UDP Client)</title>
<% include topinc_v2.inc %>
#include "redirectOnSessionTimeout.inc"
<% include utilities.inc %>
<% indicateRequestValidity(); %>
<script language="JavaScript" src="/cgi-bin/end_points.cgi?getList"></script>
<script language="JavaScript">
<%
var epName = base64_encode(request['QUERY_STRING']);
%>
var EP_Name="@@epName";
EP_Name=Base64.decode(EP_Name);

<%
if (request['REQUEST_METHOD'] == "POST") {

	function setRdb(varRdb, val) {
		set_single_direct("-p",varRdb, val);
	}
	function setDsmRdb(varRdb, val) {
		setRdb("service.dsm.ep.conf."+varRdb, val);
	}

	i=validate_number(form['idxEP']);
	EP_Name=form['nameEP'];
	// validate input
	if (string_regex_match(EP_Name, "^[!()*-/0-9;?A-Z_a-z-]+$") == false) {
		onBadRequest();
	}
	var portNumber = string_to_number(form['portnumber']);
	if (portNumber < 1 || portNumber > 65535) {
		onBadRequest();
	}
	var timeout = string_to_number(form['timeout']);
	if (timeout < 0 || timeout > 1000) {
		onBadRequest();
	}
	setDsmRdb(i+".name", EP_Name);
	setDsmRdb(i+".type",'5');
	setDsmRdb(EP_Name+".ip_address",form['ipaddress']);
	setDsmRdb(EP_Name+".port_number",form['portnumber']);
	setDsmRdb(EP_Name+".timeout",form['timeout']);
	set_single_direct("","service.dsm.trigger","1");
	redirect('/end_points.html?success');
}
%>

function submitForm() {
#ifdef V_WEBIF_SPEC_vdf
/*********for vdf validator**********/
	if(!$("#form").valid()) {
		return;
	}
#else
	if(!$("#form").validationEngine("validate")) {
		validate_alert("","");
		return;
	}
#endif
	blockUI_wait(_("GUI pleaseWait"));
	for (var i=0; i<endpoints.length;i++) {
		if(endpoints[i].name==EP_Name) {
			break;
		}
	}
	$("#idxEP").val(i);
	$("#nameEP").val(EP_Name);
	$("#form").submit();
}


$(document).ready(function() {
<%
#if 0
	// WARNING: no validation on this IP Address!
#endif
	ipAddr = get_single('service.dsm.ep.conf.'+request['QUERY_STRING']+'.ip_address', '', '--base64');
	if (ipAddr == "N/A") {
		ipAddr = "";
	}
%>
	$("#ipaddress").val(Base64.decode("@@ipAddr"));
	$("#portnumber").val("<%get_single_direct('service.dsm.ep.conf.'+request['QUERY_STRING']+'.port_number');%>");
	$("#timeout").val("<%get_single_direct('service.dsm.ep.conf.'+request['QUERY_STRING']+'.timeout');%>");
});
</script>

<div class="header-wrap" id="main-menu"><!--Top Menu--></div>
<div id="content" class="site-content">
<div class="container">
	<aside class="grid-3 alpha sidemenu" id="side-menu"><!--Side Menu--></aside>
	<div class="grid-9 omega">
		<form><!--place holder for validation--></form>
		<div class="right-column white-box">
			<form name="form" id="form" class="validate" novalidate="novalidate" method="POST" action="@@request['SCRIPT_NAME']">
			<%appendCsrfToken();%>
			<input type="hidden" name='idxEP' id='idxEP' value="">
			<input type="hidden" name='nameEP' id='nameEP' value="">
			<div class="pad" id="setup">
				<h2><script language=Javascript>document.write(_("type5")+"  "+_("endPoint")+"   ("+htmlNumberEncode(EP_Name)+")")</script></h2>
				<div class="grey-box">
					<div class="form-row">
						<label for="ipaddress"><script language=Javascript>document.write(_("serverIPAddress"))</script></label>
						<div class="field">
							<input type="text" name="ipaddress" id="ipaddress" class="large required validate[required]" onkeyup="urlFilter(this);" value="">
						</div>
					</div>
					<div class="form-row">
						<label for="portnumber"><script language=Javascript>document.write(_("Port number"))</script></label>
						<div class="field">
							<input type="text" name="portnumber" id="portnumber" class="large required field1and65535 validate[required, funcCall[validate_field1and65535]]" maxLength="5" onKeyUp='NumfieldEntry(this)' value="">
						</div>
						<div>
							<span class="normal-text">&nbsp;<script language=Javascript>document.write(_("1-65535"))</script></span>
						</div>
					</div>
					<div class="form-row">
						<label for="timeout"><script language=Javascript>document.write(_("Retry timeout"))</script></label>
						<div class="field">
							<input type="text" name="timeout" id="timeout" class="large required fieldzand1000 validate[required, funcCall[validate_fieldzand1000]]" maxLength="4" onKeyUp='NumfieldEntry(this)' value="">
						</div>
						<div>
							<span class="normal-text">&nbsp;<script language=Javascript>document.write(_("0-1000")+"&nbsp;&nbsp;"+_("seconds")+"&nbsp;"+_("noRetry"))</script></span>
						</div>
					</div>
				</div>
				<div class="submit-row" id="submit-div">
					<button type="button" onClick="submitForm();"><script language=Javascript>document.write(_("CSsave"))</script></button>
					<button type="button" class="secondary" onClick="window.location='end_points.html'"><script language=Javascript>document.write(_("cancel"))</script></button>
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="copy-right"><script language=Javascript>document.write(_("powered by netComm"))</script></p>
	</div>
</footer>

<script language='javascript'>
set_menu("Services", "EDP", <%_val = session["user"];%>"@@_val");
#ifdef V_WEBIF_SPEC_vdf
	$.validator.addMethod("field1and65535",function(c,a) {
		if(c!==$(a).attr("data-watermark")) {
			if( c < 1 || c > 65535 ) {
				return false;
			}
		}
		else if($(a).hasClass("required")) {
			return false;
		}
		return true;
	},_("field1and65535"));

	$.validator.addMethod("fieldzand1000",function(c,a) {
		if(c!==$(a).attr("data-watermark")) {
			if( c < 0 || c > 1000 ) {
				return false;
			}
		}
		else if($(a).hasClass("required")) {
			return false;
		}
		return true;
	},_("fieldzand1000"));
#else
function validate_field1and65535(field) {
	if( field.val() < 1 || field.val() > 65535 ) {
		return _("field1and65535");
	}
}
function validate_fieldzand1000(field) {
	if( field.val() < 0 || field.val() > 1000 ) {
		return _("fieldzand1000");
	}
}
#endif
</script>
</body>
</html>
