body{ display:block; width:100%; height:100%; min-height:1000px; padding:0; margin:0 auto 0; color: #1a171b; font: 12px verdana; position:relative; z-index:0;}
header, footer { display: block; width: 1020px; padding: 0; margin: 0 auto 0; color: #1a171b; font: 12px verdana;}
.clr{ clear: both;}



/* @TODO Need to review these */
/* p {line-height: 150%;} */

{ font-family: Verdana,Geneva,sans-serif; }

p {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

a.title{ color: #005799; font-weight: bold;}
b{font-size:16px;color: #ee7d11;}
/* a.rm{ color: #000000; text-align: right; display: block; margin-bottom: 10px; font-weight: 600;} */
h1, h2, h3, h4, h5 { margin: 8px 0;}
h1, h2, h3 { color: #000;}
h2{ font-size: 22px;line-height:40px;font-weight:100;color:#ee7d11;}
h3{ font-size: 12pt;}
h4{ font-size: 15pt;}
h5{ font-size: 16px;color:#ee7d11; margin-left:12px;}

ul, li { position:relative;}

td {border:0;}

/* Netcomm color: dark blue:#003464 #013565 blue:#005799 #008bc6 light blue:#00b6e8 orange:#ee7d11*/

/****** body ******/
body{
	background: rgb(0,140,199);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:100%;
}

/****** Header ******/
header{ margin-top: 10px; margin-bottom: 10px;}
.header-wrap{
	background: #000;
	margin: 0 auto 0;
	width: 940px;
	color: #fff;
	min-height: 49px;
	height: 60px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* behavior: url("/css/PIE.htc"); */
	background: -moz-linear-gradient(top,  rgba(64,65,66,1) 0%, rgba(64,64,65,1) 6%, rgba(52,52,53,1) 27%, rgba(7,7,7,1) 81%, rgba(0,0,0,1) 96%, rgba(0,0,0,1) 100%); /* FF3.6+ */*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,65,66,1)), color-stop(6%,rgba(64,64,65,1)), color-stop(27%,rgba(52,52,53,1)), color-stop(81%,rgba(7,7,7,1)), color-stop(96%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(64,65,66,1) 0%,rgba(64,64,65,1) 6%,rgba(52,52,53,1) 27%,rgba(7,7,7,1) 81%,rgba(0,0,0,1) 96%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(64,65,66,1) 0%,rgba(64,64,65,1) 6%,rgba(52,52,53,1) 27%,rgba(7,7,7,1) 81%,rgba(0,0,0,1) 96%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(64,65,66,1) 0%,rgba(64,64,65,1) 6%,rgba(52,52,53,1) 27%,rgba(7,7,7,1) 81%,rgba(0,0,0,1) 96%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(64,65,66,1) 0%,rgba(64,64,65,1) 6%,rgba(52,52,53,1) 27%,rgba(7,7,7,1) 81%,rgba(0,0,0,1) 96%,rgba(0,0,0,1) 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404142', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.header_bar {
	margin-top: 15px;
	padding-left:15px;
	height: 29px;
	padding-top:60px;
}

a {
	color:#fff;
	font-weight:bold;
}

.box-content a { color:#ee7d11; }


/********* Tables *********/
table {
	background:#fff;
	border:0;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:auto;
	width:100%;
	margin:0 12px 20px 0;
	word-wrap:break-word;
}


fieldset {
	border:0;
	-webkit-margin-start:0;
	-webkit-padding-start:0;
	-moz-margin-start:0;
	-moz-padding-start:0;
}

label,.label,legend{
	float:left;
	padding:6px 10px 0 0;
	text-align:right;
	width:150px;
}

.checkbox,.check-box label,.radio-box label {
	 float:left;
	 padding:4px 0 0 35px;
	 text-align:left;
	 width:auto;
	 height:22px;
	 margin:-2px 0 -1px 0;
}

.check-box-simple label {
	background-repeat:no-repeat;
	width: 140px;
	height: 17px;
	font-size: 12px;
}

ul,ol {list-style:none;}
ol li, ul li {margin-bottom:10px;}
label {width:220px;color:#000;font-weight:bold;}

.ie fieldset label {width:208px;}
.ie.ie8 fieldset label {width:218px;}

select{
	width:184px;
	border-radius:3px;
	/* behavior: url("/css/PIE.htc"); */
	float:left;
	cursor:pointer;
	overflow:hidden;
	height:26px;
	margin-top:2px;
	-webkit-padding-end:0px;
/*	-webkit-appearance:none; */
}

.ie8 select {margin-top:2px;padding-bottom:2px;behavior:none;height:25px;}
.matchInput {margin-left:10px;}
.ie8 .matchInput {margin-top:0;width:118px;}

input {border-radius:8px;padding:0 6px 0 6px;height:22px;float:left;outline:none;}
.ie8 input {line-height:22px;}

input.med{width:100px;}
input.mini {width:38px;}
select.mini, .secondary.mini{width:66px;}
input.ip-adress {width:28px;text-align:center;}
input.table-input {width:120px;}
input.large {width:172px;}
input:focus, select:focus{
/* border-radius:8px; */
	outline-color:transparent;
}

button.tinyfont {
	font-size:11px;
	font-weight:550;
	border-radius:6px;
}

button.med {
	font-size:12px;
	font-weight:800;
	border-radius:8px;
	/* behavior: url("/css/PIE.htc"); */
}

button.sml, .secondary.sml, .tertiary.sml, button.minimum {
	font-size:11px;
	font-weight:700;
	border-radius:6px;
	/* behavior: url("/css/PIE.htc"); */
}


.row{
	clear:left;
	float:left;
	width:100%;
	padding-bottom:10px;
}

/* header */
.site-header {
	min-width:940px;
	background:#000;
}
.site-header h1 {
	text-indent:-999em;
	background:url(/netcomm-wireless-logo.png) no-repeat;
	margin-top:10px;
	height:40px;
}

/* content */
.container {
	width:940px;
	padding:0 20px;
	margin:0 auto;
}
.site-content {
	padding:15px 0 110px !important;
	overflow:hidden;
}

/* table */
table.scroll tr td {padding:0;}
table.border-top {border-top:1px solid #ccc;}

.pad h2 {color:#fff;}


th {
	/*
	background:#f4f4f4;
	border-bottom:1px solid #ddd;
	font-size:12px;
	font-weight:normal;
	color:#666;
	padding:10px 0 10px 0;
	*/
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

th.align12{text-align:left;padding-left:12px;font-weight:bold;}
th.align12-2{background:#fff;text-align:left;padding-left:10px;font-weight:bold;}
th.align12-2-center{background:#fff;text-align:center;padding-left:10px;font-weight:bold;}

th.sml{text-align:left; padding-left:10px;}

tfoot {border-top: 1px solid #ddd;}
.above-5-column th {font-size:10px;}
.above-5-column td strong {font-size:10px;}
table .form-row {margin:0;padding:0;}

table td.last a.sml,table td.last button.sml,table td.last button.minimum {
	float:right;
	display:inline;
	padding-right:8px;
}
.no-border {
	border:none;
	margin:0;
}
table tr {border:1px solid #ddd; padding-top:20px;padding-bottom:20px;}
table td {
	font-size:13px;
	font-weight:normal;
	padding:20px 10px;
	vertical-align:middle;
	font-family: Verdana,Geneva,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
table td.red-font {color:red}
table td.green-font {color:green}
table td.orange-font {color:orange}
table.valign-top td{vertical-align: top;}
table.no-border td {border:none;padding:8px; padding-left:10px; padding-right: 0px; color:#000;}
table td.last.narrow { padding-right: 0px !important; }

tfoot tr td {background:#F4F4F4;border:none;padding:5px 0;border-radius:0px 0px 4px 4px;/* behavior: url("/css/PIE.htc");*/}
tfoot tr td button{float:right !important;}
table tr td.last { padding-right: 4px;}
.button-row {width:100%;margin-bottom:10px;overflow:hidden;}
.button-row button {float:right !important;margin-right:0;}


table div.field.short input { width: 208px; }

#content{
	clear:left;
	padding:0 0 20px;
	width:100%;
}

.access{
	left:-999em;
	position:absolute;
}
.hide,.js .no-script{
	display:none;
}

.field {
	border-radius:8px;
	/* behavior: url("/css/PIE.htc"); */
	float:left;
}

/* .ie6 .field,.ie7 .field{padding-bottom:2px} */
.field.error{background:#dd0000;border-radius:8px;/* behavior: url("/css/PIE.htc");*/}
.field.focus{
	border-radius:8px;
	/* behavior: url("/css/PIE.htc"); */
}

fieldset .field{margin-right:5px}
.radio-check .field .radio-box,.radio-check .field .check-box{margin-top:8px}
.radio-check .field{background:0}
.radio-check .field.error{background:0}
.radio-check .field.error label{color:#d80000}
.radio-check .field.error input:focus+label{color:#fff}
.radio-check .field.error input+label.click{color:#dd0000}
.field button{float:left;margin:1px 2px 0}
.form-row{clear:left;float:left;margin-bottom:16px;padding-bottom:2px;padding-top:2px;width:100%}
.form-row .warning-med{cursor:help;float:left;height:28px;margin:2px 0 0 5px;padding:0;width:28px}
.multi-field{margin-right:10px;float:left}

input.error,select.error {
	border: 3px solid;
	border-color:red;
}
input.valid {
	border: 3px solid;
	border-color:#008bc6;
}

input.sml{width:50px}
input.med{width:144px}
input.lrg{width:280px}
select.sml{width:60px}
select.med{width:110px}
select.lrg{width:300px}
.auto-width{width:auto}

.check-box,.radio-box{margin:0 0 10px;overflow:hidden}

.error .radio-box label,.error .check-box label{color:#d80000}

.submit-row .fr{margin:0 0 0 10px}
button::-moz-focus-inner{border:0}
button,.button,.secondary {
	cursor:pointer;
	float:left;
	line-height:1;
	margin:0 10px 0 0;
	outline:0;
	overflow:visible;
	padding:7px 15px 9px;
	text-decoration:none;
	width:auto;
	font:12px verdana;
}

a.button:hover,a.secondary:hover {text-decoration:none}
.button:focus,button:focus,.js .button-js:focus,.js input[type=checkbox]:focus+label .button-js,.js input[type=radio]:focus+label .button-js{text-decoration:underline}

.secondary,.secondary:visited,.file-wrapper .button{
	background:#e1e1e1;
	background:-webkit-linear-gradient(#fff,#e1e1e1);
	background:-moz-linear-gradient(#fff,#e1e1e1);
	background:-ms-linear-gradient(#fff,#e1e1e1);
	background:linear-gradient(#fff,#e1e1e1);
	border:1px solid #aaa;
	color:#333;
	padding:7px 12px;
	border-radius:8px;
	/* behavior: url("/css/PIE.htc"); */
}
.secondary:hover,.secondary:focus,.js .secondary-js:hover,.js .secondary-js:focus,.js input[type=checkbox]:focus+.secondary-js,.js input[type=radio]:focus+.secondary-js{background:#ddd;background:-webkit-linear-gradient(#c4c3c3,#f3f3f3);background:-moz-linear-gradient(#c4c3c3,#f3f3f3);background:-ms-linear-gradient(#c4c3c3,#f3f3f3);background:linear-gradient(#c4c3c3,#f3f3f3)}
.secondary:hover,.secondary:focus{color:#333}


.button,.button:visited,.js .button-js,button{
	background:#003464;
	background:-webkit-linear-gradient(#013565,#008bc6);
	background:-moz-linear-gradient(#013565,#008bc6);
	background:-ms-linear-gradient(#013565,#008bc6);
	background:linear-gradient(#013565,#008bc6);
	border:0;
	color:#fff;
}

.button:hover,.button:focus,button:hover,button:focus{
	color:#fff;
}

.button:hover,.button:focus,button:hover,button:focus,.js .button-js:hover,.js .button-js:focus,.js input[type=checkbox]:focus+label .button-js,.js input[type=radio]:focus+label .button-js{
	background:#666;
	background:-webkit-linear-gradient(#222,#888);
	background:-moz-linear-gradient(#222,#888);
	background:-ms-linear-gradient(#222,#888);
	background:linear-gradient(#222,#888);
}

button:disabled {
	color: #888;
	background-color: #ddd;
	border:1px solid #ddd;
	background:-webkit-linear-gradient(#fff,#e1e1e1);
	background:-moz-linear-gradient(#fff,#e1e1e1);
	background:-ms-linear-gradient(#fff,#e1e1e1);
	background:linear-gradient(#fff,#e1e1e1);
}

/***********************************************/
.grid-4{display:inline;float:left;margin:0 5px;width:280px}

.alpha{margin-left:0!important;padding-left:0!important;clear:left}
.omega{margin-right:0;padding-right:0!important}

/***************************************************/
.input-connect-dot {float:left;width:auto;padding:2px 2px 0 0;}

button{width:100px;}
:lang(en) .file-wrapper .button{width:100px;font:12px verdana;text-align:center;padding:7px 4px;}
:lang(en) span.button.longbutton{width:126px;}

.pad {padding:8px 10px 0 0;}

.a-center {text-align:center;}
.secondary.minimum {padding:7px;}
.submit-row {
	clear:left;
	margin:0 0 0 230px;
	padding:10px 0 20px 0;
}
.submit-row button, .row button, button.file-upload {
	font:12px verdana;
	width:110px;
	border-radius:8px;
	text-decoration: none;
	/* behavior: url("/css/PIE.htc"); */
}
.submit-row1 {
	margin-left:42%;
}

.submit-row-condensed {
	margin-left:230px;
	margin-top:18px;
}
.submit-row-condensed button {margin-right: 8px;}

.submit-row .sml {width:auto;}
tbody.sml, tbody.minimum{margin-right:10px;}
.submit-row .fr {margin-bottom:5px;}
.submit-row .fr.icon-btn {padding:0;}
.check-box input[type=checkbox] + label {background-position: -982px 8px;}
.check-box input[type=checkbox]:checked + label {background-position: -964px -24px;}
.check-box p {
	 float:left;
	 padding:4px 0 0 0px;
	 text-align:left;
	 width:auto;
	 height:22px;
	 margin:0 0 -1px 0;
}
.hide {display:none;}
/* form */


a:hover span{text-decoration:underline}
.disabled a{color:#aaa}
a.upload, .show-option a, td a, td a:visited, .help a{color:#000;}

.no-bg-form .field {background:none;border-radius:0;}

.form-row span.normal-text {
	font-weight:normal;
	position:relative;
	top:6px;
	padding-left:1px;
}

.form-row button {
	margin-left:230px;
	margin:0 10px 0 0;
}

.multi-button {margin-left:180px;}

.field-des {
	clear:both;
	font-size:12px;
	color:#555;
	margin-left:232px;
	padding-top:3px;
}
.field-des.message {width:335px;padding-top:15px;}
.field-btn-group {margin:0;float:left;}
.field-btn-group button {margin:0 3px;}
.sub-field {float:left;padding-left:8px;}
.sub-field label {width:auto;font-weight:normal;}

.success{background-position:-232px -733px;border-color:#a8b400}
.failure{background-position:-290px -675px;border-color:#bd0000}

p.help {padding-left: 35px;}
#FileList{width:700px;}
#single-file a{color:#000;}

/* dashboard */
.dashboard .grid-9 {width:690px;margin-right:15px;}
.box {
	border-radius:15px;
	/* behavior: url("/css/PIE.htc"); */
	background-color:#fff;
	overflow:hidden;
	margin-top:12px;
	margin-bottom:12px;
	margin-left:12px;
	margin-right:12px;
}
.box-header {
	border-radius:15px;
	/* behavior: url("/css/PIE.htc"); */
	background:#f0f0f0;
	padding-right:0;
	height:40px;
	display:table;
	width:100%;
	position:relative;
	margin:0;
}
.box-header:hover {
	border-radius:15px;
	/* behavior: url("/css/PIE.htc"); */
	background:#e0e0e0;
}
.box-header h2 {
	margin-bottom:0;
	display:table-cell;
	vertical-align:middle;
	padding:0 0 0 28px;
	line-height:normal;
	/* background:url(../img/dashboard_arrow_pod_open.png) no-repeat 10px center; */
}
.box-header.close h2 {/* background:url(/img/dashboard_arrow_pod_closed.png) */ background: #fff no-repeat 9px center;}
.box-header button {float:right;margin:5px 10px 0 0;}
.box .box-content {padding:10px 20px 20px 20px;overflow:hidden;}
.box .box-content .each-box {margin:0 12px;padding:0 10px 0 4px;float:left;width:190px;border-right:1px solid #e5e5e5;}
.box .box-content .each-box:last-child {border:none;}
.box .box-content .each-box .time {/*background:url(../img/time.png) */background: #fff no-repeat top center;padding-top:55px;display:inline-block;margin:18px 0 0 0;font-size:13px;font-weight:bold;}
.box .box-content .omega {margin-right:0;}
.box .box-content dl {padding:0 0 8px;}
.box .box-content dl:last-child {padding-bottom:0;}
.box .box-content dl dt { /********/
	color:#005799;
	font-weight:bold;
	padding:5px 0 5px 0;
}
.box .box-content dl dd {margin-left:0;}
dl.inline dt,dl.inline dd {float:left;}
dl.inline dd { padding-left: 5px; font-weight: bold; }
dl.inline {padding:10px 0;overflow:hidden;}
.show-option {clear:both;text-align:right;margin:6px 0 10px;font-weight:bold;}
.show-option button {padding:0 3px 6px !important;float:right;margin:0 0 0 10px;}
button.inline-right-button { float: right; margin-right: 0px; width:auto;}


.message_box {padding: 0 20px 20px 20px;width:100%;font-size:11px;}
.blockUI table{margin:0; line-height:0px;}
.blockUI table td{padding:10px 10px}
.blockUI button.med, .blockUI .med{width:90px;text-decoration:none;}
.blockUI .button-raw {padding-top:18px;margin:0 auto;text-decoration:none;}
.blockUI .button-double {padding-top:18px;margin:0 auto;width:200px;padding-left:12px;text-decoration:none;}
.blockUI table tr {border:0}

.field-right-desc {
	display: inline;
	margin-left: 0px;
	width: auto;
	font-weight:normal;
}

.inner-text{margin-top:6px}
div.blockMsg {
	border-radius:15px;
	/* behavior: url("/css/PIE.htc"); */
}

.status-text {
	font-weight:bold;
	color:ORANGE;
	padding-top:6px;
	display:inline-block;
	text-align:left;
}

.bgcyellow {
	background-color: yellow;
}

.bgcgreen {
	background-color: green;
}

.bgcblack {
	background-color: black;
}

.bgcred {
	background-color: red;
}

#mode2Info {
	padding:10px 0px 10px 0px;
	margin:0px 20px 0px 20px;
	background-color: #505050;
	border-radius:10px;
}

#mode2Info table {
	width:880px;
	margin:0px auto;
	color:#505050;
	background-color:#505050;
}

#mode2Info tr {
	border:0;
}

#mode2Info td {
	font-size:12px;
	/* font-family: "Courier New", "Lucida Console", monospace;*/
	font-family:monospace;
	padding:0px 0px 0px 0px;
	line-height:16px;
	letter-spacing:3.76px;
	background-color: black;
	color: white;
}

#mode2Info pre {
	font-family:monospace;
	background-color: #505050;
	margin:0;
}

#mode2Info mark {
	padding:1px 0px 1px 0px;
	color: white;
}

#app-network-stats th {
	/*padding:0;*/
	line-height:16px;
}

#app-network-stats tr {
	/*padding:0;*/
	line-height:16px;
}

#app-network-stats td {
	padding:0;
	line-height:16px;
}

#app-network-scan pre {
	margin:3px;
}

#app-network-stats pre {
	margin:3px;
}

/* select and option grey-out styles */
select.disabled {color:darkgrey}
option.disabled {color:darkgrey}
option.enabled {color:rgb(42,42,42)}

.align_center {
    text-align: center;
}

.valign_middle {
    vertical-align: middle;
}

.data_field_set_line {
    text-align: left;
    margin: 4px;
    vertical-align: top;
}

.data_field_set_button_line {
    text-align: center;
    margin: 4px;
    vertical-align: top;
}

.left_delimiter {
    border-left: 1px solid #ddd;
}

.top_delimiter {
    border-top: 1px solid #ddd;
    margin-top:10px;
    padding-top:10px;
}

.data_field_set_block {
    padding: 10px;
    display: inline-block;
}

.data_field_set_row {
    padding: 2px;
    vertical-align: middle;
}

.data_field_label {
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    display: inline-block;
}

.wide_label {
    width: 200px;
}

.data_field_text {
    font-size: 14px;
    padding: 2px;
    display: inline-block;
}

.fixed_field_height {
    line-height: 40px;
}

.fixed_field_width {
    width: 160px;
}

.no_float {
    float: none;
}

.button_auto_width {
    width: auto;
}

.valid_check {
    color: green;
}

.table_tr {border:1px solid #ddd; padding-top:20px;padding-bottom:20px;}
.table_td {
    font-size:13px;
    font-weight:normal;
    vertical-align:middle;
    font-family: Verdana,Geneva,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
}

.red-font {color:red}
.green-font {color:green}
.orange-font {color:orange}

.qrcode_block {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}
