.header-wrap {left:0;}
.sidemenu li a {width:200px;}
.box .box-content .each-box .time {display:inline;zoom:1;}
.table-scroll-inside {overflow-x:hidden;}
.multi-field {float:none;padding-top:5px;background:none;}