<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Administration</title>
<% include topinc_v2.inc %>
#include "redirectOnSessionTimeout.inc"
<% include utilities.inc %>
<% indicateRequestValidity(); %>

#ifdef V_CHECK_PASSWORD_STRENGTH_y
<script type="text/javascript" src="/js/zxcvbn.js"></script>
<script type="text/javascript" src="/js/password_lock_elements.js">
//  strings used by password_lock_elements (placed here to be collected into i18n XML file
// _("incorrectPassword")  _("httpreq err")  _("enterRootPasswordToConfirmAction")
</script>

#endif

<script language="JavaScript">

#ifdef V_ENFORCE_PASSWORD_POLICY_y
#if (0)
/*-----------------------------------------------------------------------*/
// combine multiple line warning messages
/*-----------------------------------------------------------------------*/

/* password warning message for submit

   Passwords configured on the router must meet the following criteria:
     • Be a minimum of 8 characters and no more than 128 characters in length.
     • Contain at least one upper case and one number.
     • Contain at least one special character, such as: `~!@#$%^&*()-_=+[{]}\|;:'",<.>/?.
 */
#endif
var pwdWarn1=[];
	pwdWarn1[0] = _("passwordWarning6");
	pwdWarn1[1] = bulletHead+_("passwordWarning2");
	pwdWarn1[2] = bulletHead+_("passwordWarning3");
	pwdWarn1[3] = bulletHead+_("passwordWarning4")+convert_to_html_entity('`~!@#$%^&*()-_=+[{]}\|;:\'\",\<.>/?.');

#if (0)
/* password warning message for weak default password

   The default password is currently set. To protect the device, please create a password that meets the following criteria:
     • Be a minimum of 8 characters and no more than 128 characters in length.
     • Contain at least one upper case and one number.
     • Contain at least one special character, such as: `~!@#$%^&*()-_=+[{]}\|;:'",<.>/?.
     • It is also advised that the Telnet/SSH password be changed to a strong non-default password.
 */
#endif
var pwdWarn2=[];
	pwdWarn2[0] = _("passwordWarning1");
	pwdWarn2[1] = bulletHead+_("passwordWarning2");
	pwdWarn2[2] = bulletHead+_("passwordWarning3");
	pwdWarn2[3] = bulletHead+_("passwordWarning4")+convert_to_html_entity('`~!@#$%^&*()-_=+[{]}\|;:\'\",\<.>/?.');
	pwdWarn2[4] = _("passwordWarning5");

#if (0)
/*-----------------------------------------------------------------------*/
#endif
#endif

function setLanguageOptions() {
	<%var _lang=get_single('webinterface.language'); var _lang_fr=get_single('webinterface.lang_fr'); var _lang_ar=get_single('webinterface.lang_ar');%>

	var lang_fr="@@_lang_fr";
	var lang_ar="@@_lang_ar";
	var current_lang="@@_lang";
	var lang_element = document.getElementById("langSelection");

	if (lang_fr == "1" || lang_ar == "1") {
		lang_element.options.length = 0;
		lang_element.options[lang_element.length] = new Option(_("english"), 'en');//'English'
		if (lang_fr == 1) {
			if(current_lang=="fr")
				lang_element.options[lang_element.length] = new Option(_("man language french"), 'fr', false, true);
			else
				lang_element.options[lang_element.length] = new Option(_("man language french"), 'fr', false, false);
		}
		if (lang_ar == 1) {
			if(current_lang=="ar")
				lang_element.options[lang_element.length] = new Option(_("arabicAR"), 'ar', false, true);
			else
				lang_element.options[lang_element.length] = new Option(_("arabicAR"), 'ar', false, false);
		}
		document.getElementById("langDisplay").style["display"]="";
	}
}

function submitLang() {
	var lang=document.getElementById("langSelection").value;
	setLanguage(lang);
}

function ungreyOutPortField() {
	if ( (document.form.incomingPort.value < 1) || (document.form.incomingPort.value > 65534) )
		document.form.incomingPort.value = "8080";
}
////////////////////////////////////////

function insecure_warning() {
	var f = document.form;
	var enable_http=$("#webbrowser_ID-0").is(":checked");
	var enable_https=$("#web_https-0").is(":checked");
	var enable_telnet=$("#telnet_ID-0").is(":checked");
	var enable_ssh=$("#sshd_wan_enable_0").is(":checked");
	var enable_ftp=$("#ftp_wan_enable-0").is(":checked");
	var enable_ftps=$("#ftps_wan_enable_0").is(":checked");
	if(enable_http||enable_https||enable_telnet||enable_ssh||enable_ftp||enable_ftps) {
		blockUI_confirm(_("password warning"), function(){f.submit();});
	}
	else {
		f.submit();
	}
}


function submitF() {
var f = document.form;

#ifdef V_WEBIF_SPEC_vdf
/*********for vdf validator**********/
	if(!$("#form").valid()) {
		return;
	}
#else
	if(!$("#form").validationEngine("validate")) {
		validate_alert("","");
		return;
	}
#endif
#ifdef V_ENFORCE_PASSWORD_POLICY_y
<%if(session["user"]=="root"){%>
	// check password validity only when logged in as root
	if (f.WEBPass.value.length > 0){
		if ((f.WEBPass.value.length < 8) || (f.WEBPass.value.length > 128)) {
			validate_alert(_("securityAdvise"), _("webPasswordWarningMsg"));//password has the incorrect length
			return;
		}
		if (passStrengthValidation(f.WEBPass.value) == false) {
			validate_alert(_("securityAdvise"), pwdWarn1, true);	// Passwords configured on the router must meet the following criteria:...
			return;
		}
	}
<%}%>
#else
	if (f.WEBPass.value.length > 128) {
		validate_alert("", _("wwan warningMsg24"));//password has the incorrect length
		return;
	}
#endif

#ifdef V_WEB_LOGIN_LOCKING_y
	if ((f.loginMaxAttempt.value < 3) || (f.loginMaxAttempt.value > 5)) {
		validate_alert("", _("loginMaxAttemptRangeWarning"));//Login attempt limit must have a value between 3 and 5.
		return;
	}
	if ((f.loginLockDuration.value < 1) || (f.loginLockDuration.value > 10)) {
		validate_alert("", _("loginLockDurationRangeWarning"));//Login lock duration must have a value between 1 and 10.
		return;
	}
#endif
#ifdef V_WEB_SESSION_TIMEOUT_y
	if ((f.sessionTimeout.value < 300) || (f.sessionTimeout.value > 3600)) {
		validate_alert("", _("sessionTimeoutRangeWarning"));//Session timeout must have a value between 300 and 3600.
		return;
	}
#endif

<%if(session["user"]=="root"){%>
	if (f.WEBPass.value.length > 0) {
		if (f.WEBPass.value != f.WebPassConf.value) {
			validate_alert("", _("wwan warningMsg2"));//passwords do not match
			return;
		}
		if(f.userName.value=="root") {
			f.rootPass.value=f.WEBPass.value;
		}
		else {
			f.adminPass.value=f.WEBPass.value;
		}
	}
	if (f.TelnetPass.value != f.TelnetPassConf.value) {
		validate_alert("", _("wwan warningMsg2"));//passwords do not match
		return;
	}
#ifdef V_ENFORCE_PASSWORD_POLICY_y
	var dummyPW="**********";
	// check password validity only when the password changed
	if (f.TelnetPass.value != dummyPW) {
		if ((f.TelnetPass.value.length < 8) || (f.TelnetPass.value.length > 126)) {
			validate_alert(_("securityAdvise"), _("telnetPasswordWarningMsg"));//password has the incorrect length
			return;
		}
		if (passStrengthValidation(f.TelnetPass.value) == false) {
			validate_alert(_("securityAdvise"), pwdWarn1, true);	// Passwords configured on the router must meet the following criteria:...
			return;
		}
	}
#else
	if ((f.TelnetPass.value.length < 1) || (f.TelnetPass.value.length > 126)) {
		validate_alert("", _("wwan warningMsg25"));//password has the incorrect length
		return;
	}
#endif
	f.telnethiddenPass.value=f.TelnetPass.value;
<%}%>

#ifdef V_WEB_SESSION_TIMEOUT_y
	var oldSessionTimeout="<%get_single_direct('admin.user.login.session_timeout');%>";
<% if (session["user"] == "root") { %>
	if (f.sessionTimeout.value != oldSessionTimeout) {
		blockUI_confirm(_("sessionTimeoutChangedWarning"), function(){
			insecure_warning();
		});
	} else {
		insecure_warning();
	}
<% } else { %>
	if (f.sessionTimeout.value != oldSessionTimeout) {
		blockUI_confirm(_("sessionTimeoutChangedWarning"), function(){f.submit();});
	} else {
		f.submit();
	}
<% } %>
#else
<% if (session["user"] == "root") { %>
	insecure_warning();
<% } else { %>
	f.submit();
<% } %>
#endif
}

#ifdef V_CHECK_PASSWORD_STRENGTH_y
function checkPassStrength(domain) {
	var f, t;
	if (domain == 'web') {
		f = document.form.WEBPass;
		t = document.getElementById("WebPassStrength");
	} else {
		f = document.form.TelnetPass;
		t = document.getElementById("TelnetPassStrength");
	}
	updatePassStrength(f, t);
}
#endif

function checkPass(val) {
	document.form.userName.value=val;
	if( val=="root" ) {
		document.form.WEBPass.value=document.form.rootPass.value;
	}
	else {
		document.form.WEBPass.value=document.form.adminPass.value;
	}
#ifdef V_CHECK_PASSWORD_STRENGTH_y
	// update password strength when changing account name
	checkPassStrength('web');
#endif
}

</script>
<%
/* To change the value of dummyPW, check chpasswd.template first. */
/* The template uses dummyPW for empty password                   */

var dummyPW="**********";


validIpWhitelistPattern = "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(/([1-9]|[1-2][0-9]|3[0-2]))?(,(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(/([1-9]|[1-2][0-9]|3[0-2]))?)*$";

function validateHttpsIpWhitelist() {
	var v = form['httpsIpWhitelist'];
	if (v != "") {
		if (string_regex_match(v, validIpWhitelistPattern) == false) {
			onBadRequest();
		}
	}
}
function validateEnableLocalHttp() {
	validateOnOffRadio(form["enableLocalHttp"]);
}
function validateEnableLocalHttps() {
	validateOnOffRadio(form["enableLocalHttps"]);
}

if (request['REQUEST_METHOD'] == "POST") {
	// input validation
	if (session["user"] == "root") {
		validateHttpsIpWhitelist();
		validateEnableLocalHttp();
		validateEnableLocalHttps();
	}

	if(form['Pass']==form['PassConf']) {
#ifndef V_WAN_INTERFACE_none
		if (session["user"] == "root") {
			currval = get_single( 'admin.remote.webenable' );
			tempval = form['webenable'];
			if (currval != tempval) {
				set_single( 'admin.remote.webenable='+tempval);
			}

			setRdbOnDiff('admin.remote_https.ip_whitelist', form['httpsIpWhitelist'], true);

			currval = get_single( 'admin.remote_https.enable' );
			tempval = form['remoteHTTPSenable'];
			if (currval != tempval) {
				set_single( 'admin.remote_https.enable='+tempval, '-p');
			}

			currval = get_single( 'admin.remote.telnetenable' );
			tempval = form['telnetenable'];
			if (currval != tempval) {
				set_single( 'admin.remote.telnetenable='+tempval);
			}
		}

		currval = get_single( 'admin.remote.pingenable' );
		tempval = form['pingenable'];
		if (currval != tempval) {
			set_single( 'admin.remote.pingenable='+tempval);
		}
#endif
		if (session["user"] == "root") {
			currval = get_single( 'admin.remote.port' );
			tempval = form['incomingPort'];
			if (currval != tempval) {
				set_single( 'admin.remote.port='+tempval);
			}

			currval = get_single( 'admin.remote_https.port' );
			tempval = form['httpsPort'];
			if (currval != tempval) {
				set_single( 'admin.remote_https.port='+tempval, '-p');
			}
		}

		tempval = form['adminPass'];
		if (tempval != "") {
#ifdef V_EVENT_NOTIFICATION
			if (tempval != session["adminPass"]) {
				cmd="elogger 10 \"WEBUI login password changed for username 'admin'\" 2>/dev/null >/dev/null";
				exec_cmd(cmd);
			}
#endif
			set_single( 'admin.user.user'+'='+tempval );
		}
		if(session["user"]=="root") {
			tempval = form['rootPass'];
			if (tempval != "") {
#ifdef V_EVENT_NOTIFICATION
				if (tempval != session["rootPass"]) {
					cmd="elogger 10 \"WEBUI login password changed for username 'root'\" 2>/dev/null >/dev/null";
					exec_cmd(cmd);
				}
#endif
				set_single( 'admin.user.root'+'='+tempval );
			}
		}

		if(session["user"]=="root") {
			tempval = form['telnethiddenPass'];
			if(tempval!=dummyPW) {
				if(tempval == "") {
					set_single( 'telnet.passwd.new'+'='+dummyPW );
				}
				else {
					set_single( 'telnet.passwd.new'+'='+tempval );
				}
				set_single( 'telnet.passwd.trigger=1');
// for Telnet/SSH password, there is no way to check whether the password really changed or not
// so presume that the password changed if the user entered any password
#ifdef V_EVENT_NOTIFICATION
				cmd="elogger 10 \"Telnet/SSH password changed\" 2>/dev/null >/dev/null";
				exec_cmd(cmd);
#endif
			}
		}
		
#ifndef V_WAN_INTERFACE_none
		/* set ssh configuration */
		set_single_direct("-p","admin.remote.sshd_enable",form["sshd_wan_enable"]);
		set_single_direct("-p","admin.remote.sshd_port",form["sshdPort"]);
#endif
#ifdef V_FIREWALL_IP_PORT_BASIC_RDB_INTERPRETATION_none
		/* set local router access control. */
		set_single_direct("-p","admin.local.ssh_enable",form["ssh_local_enable"]);
		set_single_direct("-p","admin.local.telnetenable",form["telnet_local_enable"]);
		if (session["user"] == "root") {
			setRdbOnDiff("admin.local.enable_http", form["enableLocalHttp"], true);
			setRdbOnDiff("admin.local.enable_https", form["enableLocalHttps"], true);
		}
#endif
#ifdef V_WEB_LOGIN_LOCKING_y
		/* set ftp configuration */
		set_single_direct("-p","admin.remote.ftpd_enable",form["ftp_wan_enable"]);
		set_single_direct("-p","admin.remote.ftpsd_enable",form["ftps_wan_enable"]);
		/* set local router access control. */
		set_single_direct("-p","admin.local.ftpd_enable",form["ftp_local_enable"]);
		set_single_direct("-p","admin.local.ftpsd_enable",form["ftps_local_enable"]);
		tempval = form["loginMaxAttempt"];
		if (tempval >= 3 && tempval <= 5)
			set_single_direct("-p","admin.user.login.maxattempt",form["loginMaxAttempt"]);
		tempval = form["loginLockDuration"];
		if (tempval >= 1 && tempval <= 10)
			set_single_direct("-p","admin.user.login.lockduration",form["loginLockDuration"]);
#endif
#ifdef V_WEB_SESSION_TIMEOUT_y
		// save session timeout & restart appweb only when the timeout value changed.
		tempval = form["sessionTimeout"];
		oldSessionTimeout = get_single( 'admin.user.login.session_timeout');
		if (tempval >= 300 && tempval <= 3600 && tempval != oldSessionTimeout) {
			// appweb will restart by this RDB variable change
			set_single_direct("-p","admin.user.login.session_timeout",tempval);
		}
#endif
	}
	else {
#ifndef V_WAN_INTERFACE_none
		form['webenable']=get_single( 'admin.remote.webenable');
		form['remoteHTTPSenable'] = get_single( 'admin.remote_https.enable' );
		form['telnetenable']=get_single( 'admin.remote.telnetenable');
		form['pingenable']=get_single( 'admin.remote.pingenable');
#endif
		form['incomingPort'] = get_single( 'admin.remote.port' );
		form['httpsPort'] = get_single( 'admin.remote_https.port' );
	}
	redirect('/administration.html?success');
}
else { /*GET*/
#ifndef V_WAN_INTERFACE_none
	form['webenable']=get_single( 'admin.remote.webenable');
	form['remoteHTTPSenable'] = get_single( 'admin.remote_https.enable' );
	form['telnetenable']=get_single( 'admin.remote.telnetenable');
	form['ftptenable']=get_single( 'admin.remote.ftpd_enable');
	form['pingenable']=get_single( 'admin.remote.pingenable');
#endif
	form['incomingPort'] = get_single( 'admin.remote.port' );
	form['httpsPort'] = get_single( 'admin.remote_https.port' );
	form['httpsIpWhitelist'] = get_single( 'admin.remote_https.ip_whitelist' );
	temp = get_single( 'admin.user.user' );
	session['adminPass'] =temp;
	form['userName']=session["user"];
#ifdef V_WEB_LOGIN_LOCKING_y
	form['loginMaxAttempt']=get_single( 'admin.user.login.maxattempt');
	form['loginLockDuration']=get_single( 'admin.user.login.lockduration');
#endif
#ifdef V_WEB_SESSION_TIMEOUT_y
	temp = get_single( 'admin.user.login.session_timeout');
	form['sessionTimeout'] = temp;
#endif
}
var temp = get_single( 'admin.user.user' );
session['adminPass'] =temp;
form['adminPass']=""; // don't send password to client side
if(session["user"]=="root") {
	session["rootPass"]=get_single( 'admin.user.root' );
	temp = ""; // client side will get blank password
	form['rootPass']=temp;
	form['WEBPass']=temp;
	form['WebPassConf']=temp;
} else {
	form['WEBPass']=dummyPW;
}
form['Pass']=dummyPW;
form['PassConf']=dummyPW;
if(session["user"]=="root") {
	form['telnethiddenPass']=dummyPW;
	form['TelnetPass']=dummyPW;
	form['TelnetPassConf']=dummyPW;
}
%>

<script language="JavaScript">
function initValue() {
#ifndef V_WAN_INTERFACE_none
<% if (session["user"] == "root") { %>
	if( $("#webenable").val()=='1') {
		$("#webbrowser_ID-0").attr("checked","checked");
		$("#webbrowser_div").css("display", "");
	}
	else {
		$("#webbrowser_ID-1").attr("checked","checked");
		$("#webbrowser_div").css("display", "none");
	}

	if($("#remoteHTTPSenable").val()=="1") {
		$("#web_https-0").attr("checked","checked");
		$("#web_https_div").css("display", "");
	}
	else {
		$("#web_https-1").attr("checked","checked");
		$("#web_https_div").css("display", "none");
	}

	if( $("#telnetenable").val()=='1') {
		$("#telnet_ID-0").attr("checked","checked");
	}
	else {
		$("#telnet_ID-1").attr("checked","checked");
	}

	/* set sshd configuration */
	load_values_to_elements({
		"input:radio.access[name=sshd_wan_enable]":"<%get_single_direct('admin.remote.sshd_enable');%>"=="1",
		/* use 22 if value does not exist - for backward compatibility */
		"#sshdPort":"<%get_single_direct('admin.remote.sshd_port');%>"||"22"
	});
	/* set ftp configuration */
	load_values_to_elements({
		"input:radio.access[name=ftps_wan_enable]":"<%get_single_direct('admin.remote.ftpsd_enable');%>"=="1",
	});
	load_values_to_elements({
		"input:radio.access[name=ftp_wan_enable]":"<%get_single_direct('admin.remote.ftpd_enable');%>"=="1",
 });
<% } %>

	if( $("#pingenable").val()=='1') {
		$("#ping_ID-0").attr("checked","checked");
	}
	else {
		$("#ping_ID-1").attr("checked","checked");
	}
#endif
<% if (session["user"] == "root") { %>
	if($("#httpsPort").val()=="" || $("#httpsPort").val()=="N/A") {
		$("#httpsPort").val("443");
	}
<% } %>

	/* If firewall.IPPort controlled firewall is enabled, the local admin settings have no effect, so do not show them */
#ifdef V_FIREWALL_IP_PORT_BASIC_RDB_INTERPRETATION_none
<% if (session["user"] == "root") { %>
	load_values_to_elements({
		"input:radio.access[name=telnet_local_enable]":"<%get_single_direct('admin.local.telnetenable');%>"!="0",
	});


	load_values_to_elements({
		"input:radio.access[name=ssh_local_enable]":"<%get_single_direct('admin.local.ssh_enable');%>"!="0",
	});
	load_values_to_elements({
		"input:radio.access[name=ftp_local_enable]":"<%get_single_direct('admin.local.ftpd_enable');%>"!="0",
	});
	load_values_to_elements({
		"input:radio.access[name=ftps_local_enable]":"<%get_single_direct('admin.local.ftpsd_enable');%>"!="0",
	});
	load_values_to_elements({
		"input:radio.access[name=enableLocalHttp]":"<%get_single_direct('admin.local.enable_http');%>"!="0",
	});
	load_values_to_elements({
		"input:radio.access[name=enableLocalHttps]":"<%get_single_direct('admin.local.enable_https');%>"!="0",
	});
<% } %>
#endif

<%if(session["user"]=="root"){%>
	$("#field-3").attr("disabled", false);
<%}else{%>
	// diable Password input for Web User Interface account
	$("#field-3").attr("disabled", true);
<%}%>

#ifdef V_ENFORCE_PASSWORD_POLICY_y
	$("#passwordInfo1").prop("title", _("passwordWarning10"));
	$("#passwordInfo2").prop("title", _("passwordWarning10"));
	$("#passwordInfo3").prop("title", _("passwordWarning10"));
#endif

}
<% if (session["user"] == "root") { %>
function onWanHttpEnable() {
#ifdef V_NON_SECURE_WARNING_y
	blockUI_alert(_("warningInsecureHttp"));
#endif
	$('#webenable').val(1);$('#webbrowser_div').css('display', '');
}
function onWanTelnetEnable() {
#ifdef V_NON_SECURE_WARNING_y
	blockUI_alert(_("warningInsecureTelnet"));
#endif
	$('#telnetenable').val(1);
}
function onWanFtpEnable() {
 blockUI_alert(_("warningInsecureFtp"));
}
function onEnableLocalFtp() {
 blockUI_alert(_("warningInsecureFtp"));
}
function onEnableLocalHttp() {
#ifdef V_NON_SECURE_WARNING_y
	blockUI_alert(_("warningInsecureHttp"));
#endif
}
function onEnableLocalTelnet() {
#ifdef V_NON_SECURE_WARNING_y
	blockUI_alert(_("warningInsecureTelnet"));
#endif
}
<% } %>

$(document).ready( function() {
    apply_password_lock_to_inputs("@@session[csrfTokenName]");
<% if (session["user"] == "root") { %>
	$("input:radio[name=web_https]").click(function(){
		var val=$("input:radio[name=web_https]:checked").val();
		$("#web_https_div").css("display",val=="1"?"":"none");
#ifndef V_WAN_INTERFACE_none
		$("#remoteHTTPSenable").val(val);
#endif
	});
<% } %>
	initValue();
#ifdef V_ENFORCE_PASSWORD_POLICY_y
<%	if(request['QUERY_STRING']=="setpassword") {%>
		validate_alert(_("securityAdvise"), pwdWarn2, true);	// The default password is currently set. To protect the device, ...
<%	}%>
#endif
});
</script>

<div class="header-wrap" id="main-menu"><!--Top Menu--></div>
<div id="content" class="site-content">
<div class="container">
	<aside class="grid-3 alpha sidemenu" id="side-menu"><!--Side Menu--></aside>
	<div class="grid-9 omega">
		<form class="validate" name="form" id="form" novalidate="novalidate" method="POST" action="@@request['SCRIPT_NAME']?server">
		<%appendCsrfToken();%>
		<div class="right-column white-box">
			<div class="pad">
				<input type="hidden" name='adminPass' size=32 maxlength=32  value="@@form['adminPass']">
				<input type="hidden" name='rootPass' size=32 maxlength=32  value="@@form['rootPass']">
				<input type="hidden" name='telnethiddenPass' size=32 maxlength=32  value="@@form['telnethiddenPass']">
				<input type="hidden" name="userName" id="userName" value="@@form['userName']"/>
#ifndef V_WAN_INTERFACE_none
<% if (session["user"] == "root") { %>
				<input type="hidden" name="webenable" id="webenable" value="@@form['webenable']"/>
				<input type="hidden" name="remoteHTTPSenable" id="remoteHTTPSenable" value="@@form['remoteHTTPSenable']"/>
				<input type="hidden" name="telnetenable" id="telnetenable" value="@@form['telnetenable']"/>
<% } %>
				<input type="hidden" name="pingenable" id="pingenable" value="@@form['pingenable']"/>
	#ifndef V_ROUTER_TERMINATED_PPPOE
				<div class="hide_for_pppoe_en">
	#endif
					<h2><script language=Javascript>document.write(_("router access control"))</script></h2>
					<div class="form-row">
<% if (session["user"] == "root") { %>
						<div class="form-row no-bg-form">
							<label for="webbrowser_ID"><script language=Javascript>document.write(_("enable HTTP"))</script></label>
							<div class="field">
								<div class="location-settings">
									<div class="radio-switch">
										<input type="radio" id="webbrowser_ID-0" name="webbrowser_ID" class="access" onclick="onWanHttpEnable();">
										<label for="webbrowser_ID-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
										<input type="radio" id="webbrowser_ID-1" name="webbrowser_ID" class="access" onclick="$('#webenable').val(0);$('#webbrowser_div').css('display', 'none');">
										<label for="webbrowser_ID-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-row" id="webbrowser_div" style="display: none">
							<label for="incomingPort"><script language=Javascript>document.write(_("http port"))</script></label>
							<div class="field">
								<input type="text" name="incomingPort" id="incomingPort" class="sml required port validate[required, funcCall[validate_port]]" maxLength="5" onKeyUp="NumfieldEntry(this);" value="@@form['incomingPort']">
							</div>
							<div>
								<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("choosePortOne65534"))</script>)</span>
							</div>
						</div>
						<div class="form-row no-bg-form">
							<label><script language=Javascript>document.write(_("enable HTTPS"))</script></label>
							<div class="field">
								<div class="location-settings">
									<div class="radio-switch">
										<input type="radio" id="web_https-0" name="web_https" class="access" value="1" onclick="javascript:$('#certiHint').css('display', '');">
										<label for="web_https-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
										<input type="radio" id="web_https-1" name="web_https" class="access" value="0" onclick="javascript:$('#certiHint').css('display', 'none');">
										<label for="web_https-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
										<span id="certiHint" class="normal-text" style="display:none">&nbsp;<a href="/server_certificate.html" style="color:red"><script language=Javascript>document.write(_("serverCertiHint"))</script></a></span>
									</div>
								</div>
							</div>
						</div>
						<div id="web_https_div" style="display: none">
							<div class="form-row">
								<label for="httpsPort"><script language=Javascript>document.write(_("remote https port"))</script></label>
								<div class="field">
									<input type="text" name="httpsPort" id="httpsPort" class="sml required port validate[required, funcCall[validate_port]]" maxLength="5" onKeyUp="NumfieldEntry(this);" value="@@form['httpsPort']">
								</div>
								<div>
									<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("choosePortOne65534"))</script>)</span>
								</div>
							</div>
							<div class="form-row">
								<label for="httpsIpWhitelist"><script language=Javascript>document.write(_("remoteHttpsIpWhitelist"))</script></label>
								<div class="field">
									<input type="text" name="httpsIpWhitelist" id="httpsIpWhitelist" class="sml large validate[funcCall[validateIpWhitelist]] httpsIpWhitelist" value="@@form['httpsIpWhitelist']">
								</div>
								<div class="field-des sml">
									<script language=Javascript>document.write(_("remoteHttpsIpWhitelistDesc"))</script>
								</div>
							</div>
						</div>
						<div class="form-row no-bg-form" id="telnet_trID">
							<label for="field-2"><script language=Javascript>document.write(_("enable Telnet"))</script></label>
							<div class="field">
								<div class="location-settings">
									<div class="radio-switch">
										<input type="radio" id="telnet_ID-0" name="telnet_ID" class="access" onclick="onWanTelnetEnable();">
										<label for="telnet_ID-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
										<input type="radio" id="telnet_ID-1" name="telnet_ID" class="access" onclick="$('#telnetenable').val(0)">
										<label for="telnet_ID-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
									</div>
								</div>
							</div>
						</div>
						<!-- ssh enable -->
						<div class="form-row no-bg-form">
							<label><script language=Javascript>document.write(_("enable sshd"))</script></label>
							<div class="field">
								<div class="location-settings">
									<div class="radio-switch" data-toggle-element="sshd_div">
										<input type="radio" id="sshd_wan_enable_0" name="sshd_wan_enable" class="access" value="1">
										<label for="sshd_wan_enable_0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
										<input type="radio" id="sshd_wan_enable_1" name="sshd_wan_enable" class="access" value="0">
										<label for="sshd_wan_enable_1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
									</div>
								</div>
							</div>
						</div>
						<!-- ssh  port -->
						<div class="form-row" id="sshd_div" style="display:none">
							<label for="sshdPort"><script language=Javascript>document.write(_("remote sshd port"))</script></label>
							<div class="field">
								<input type="text" name="sshdPort" id="sshdPort" class="sml required port validate[required, funcCall[validate_port]]" maxLength="5" onKeyUp="NumfieldEntry(this);" value="@@form['sshdPort']">
							</div>
							<div>
								<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("choosePortOne65534"))</script>)</span>
							</div>
						</div>
						<!-- ftp enable -->
						<div class="form-row no-bg-form">
						 <label for="field-2"><script language=Javascript>document.write(_("enable ftp"))</script></label>
						 <div class="field">
						   <div class="location-settings">
						    <div class="radio-switch">
						     <input type="radio" id="ftp_wan_enable_0" name="ftp_wan_enable" class="access" value="1" onclick="onWanFtpEnable();">
						     <label for="ftp_wan_enable_0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
						     <input type="radio" id="ftp_wan_enable_1" name="ftp_wan_enable" class="access" value="0">
						     <label for="ftp_wan_enable_1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
						    </div>
						   </div>
						  </div>
						 </div>
						 <div class="form-row no-bg-form">
						  <label><script language=Javascript>document.write(_("enable ftps"))</script></label>
						  <div class="field">
						  <div class="location-settings">
						   <div class="radio-switch">
						    <input type="radio" id="ftps_wan_enable_0" name="ftps_wan_enable" class="access" value="1">
						    <label for="ftps_wan_enable_0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
						    <input type="radio" id="ftps_wan_enable_1" name="ftps_wan_enable" class="access" value="0">
						    <label for="ftps_wan_enable_1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
						   </div>
						  </div>
						 </div>
						</div>

<% } %>
						<div class="form-row no-bg-form" id="ping_trID">
							<label for="field-3"><script language=Javascript>document.write(_("enable Ping"))</script></label>
							<div class="field">
								<div class="location-settings">
									<div class="radio-switch">
										<input type="radio" id="ping_ID-0" name="ping_ID" class="access" value=1 onclick="$('#pingenable').val(1)">
										<label for="ping_ID-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
										<input type="radio" id="ping_ID-1" name="ping_ID" class="access" value=0 onclick="$('#pingenable').val(0)">
										<label for="ping_ID-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
									</div>
								</div>
							</div>
						</div>
					</div>
	#ifndef V_ROUTER_TERMINATED_PPPOE
				</div>
	#endif
#endif
#ifdef V_FIREWALL_IP_PORT_BASIC_RDB_INTERPRETATION_none
<% if (session["user"] == "root") { %>
				<h2><script language=Javascript>document.write(_("localAccessControl"))</script></h2>
				<div class="form-row no-bg-form">
					<div class="form-row no-bg-form">
						<label><script language=Javascript>document.write(_("enableLocalHttp"))</script></label>
						<div class="field">
							<div class="location-settings">
								<div class="radio-switch">
									<input type="radio" id="enableLocalHttp-0" name="enableLocalHttp" class="access" value="1" onclick="onEnableLocalHttp();">
									<label for="enableLocalHttp-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
									<input type="radio" id="enableLocalHttp-1" name="enableLocalHttp" class="access" value="0">
									<label for="enableLocalHttp-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row no-bg-form">
						<label><script language=Javascript>document.write(_("enableLocalHttps"))</script></label>
						<div class="field">
							<div class="location-settings">
								<div class="radio-switch">
									<input type="radio" id="enableLocalHttps-0" name="enableLocalHttps" class="access" value="1">
									<label for="enableLocalHttps-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
									<input type="radio" id="enableLocalHttps-1" name="enableLocalHttps" class="access" value="0">
									<label for="enableLocalHttps-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row no-bg-form" id="telnet_trID">
						<label for="field-2"><script language=Javascript>document.write(_("enableLocalTelnet"))</script></label>
						<div class="field">
							<div class="location-settings">
								<div class="radio-switch">
									<input type="radio" id="telnet_local_enable-0" name="telnet_local_enable" class="access" value="1" onclick="onEnableLocalTelnet();">
									<label for="telnet_local_enable-0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
									<input type="radio" id="telnet_local_enable-1" name="telnet_local_enable" class="access" value="0">
									<label for="telnet_local_enable-1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row no-bg-form">
						<label><script language=Javascript>document.write(_("enableLocalSSH"))</script></label>
						<div class="field">
							<div class="location-settings">
								<div class="radio-switch">
									<input type="radio" id="ssh_local_enable_0" name="ssh_local_enable" class="access" value="1">
									<label for="ssh_local_enable_0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
									<input type="radio" id="ssh_local_enable_1" name="ssh_local_enable" class="access" value="0">
									<label for="ssh_local_enable_1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-row no-bg-form">
					 <label><script language=Javascript>document.write(_("enableLocalFTP"))</script></label>
					 <div class="field">
					  <div class="location-settings">
					   <div class="radio-switch">
					    <input type="radio" id="ftp_local_enable_0" name="ftp_local_enable" class="access" value="1" onclick="onEnableLocalFtp();">
					    <label for="ftp_local_enable_0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
					    <input type="radio" id="ftp_local_enable_1" name="ftp_local_enable" class="access" value="0">
					    <label for="ftp_local_enable_1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
					   </div>
					  </div>
					 </div>
					</div>
					<div class="form-row no-bg-form">
					 <label><script language=Javascript>document.write(_("enableLocalFTPS"))</script></label>
					 <div class="field">
					  <div class="location-settings">
					   <div class="radio-switch">
					    <input type="radio" id="ftps_local_enable_0" name="ftps_local_enable" class="access" value="1">
					    <label for="ftps_local_enable_0" class="on"><script language=Javascript>document.write(_("on"))</script></label>
					    <input type="radio" id="ftps_local_enable_1" name="ftps_local_enable" class="access" value="0">
					    <label for="ftps_local_enable_1" class="off"><script language=Javascript>document.write(_("off"))</script></label>
					   </div>
					  </div>
					 </div>
					</div>
				</div>
<% } %>
#endif
				<h2><script language=Javascript>document.write(_("webui account"))</script></h2>
				<div class="form-row no-bg-form">
					<div class="form-row">
						<label for="field-2"><script language=Javascript>document.write(_("user name"))</script></label>
						<div class="field">
							<%if(session["user"]=="root"){%>
							<select name="user_name" class="med" id="user_name" onchange="checkPass(this.value)">
								<option value="root">root</option>
								<option value="user">user</option>
							</select>
							<%}else{%>
							<span class="normal-text">user</span>
							<%}%>
						</div>
					</div>
					<div class="form-row">
						<label for="Pass"><script language=Javascript>document.write(_("password"))</script></label>
						<div class="field">
#ifdef V_CHECK_PASSWORD_STRENGTH_y
							<input type="password" name="WEBPass" id="field-3" class="med password-locked" value="@@form['WEBPass']" onkeyup="checkPassStrength('web')">
#else
							<input type="password" name="WEBPass" id="field-3" class="med password-locked" value="@@form['WEBPass']">
#endif
						</div>
						<div>
#ifdef V_ENFORCE_PASSWORD_POLICY_y
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("webPasswordLimit"))</script>)</span>
							<a href='javascript:showStrongPasswordInfo();' id="passwordInfo1" style='background-color:transparent;'>
							<i id='net-info' style='margin:5px;padding:5px 30px 10px 0px;'></i></a>
#else
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("UiPasswdLenLimit"))</script>)</span>
#endif
						</div>
					</div>
					<%if(session["user"]=="root"){%>
					<div class="form-row">
						<label for="WebPassConf"><script language=Javascript>document.write(_("confirmPassword"))</script></label>
						<div class="field">
							<input type="password" name="WebPassConf" id="field-7" class="med password-locked" value="@@form['WebPassConf']">
						</div>
						<div>
#ifdef V_ENFORCE_PASSWORD_POLICY_y
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("webPasswordLimit"))</script>)</span>
							<a href='javascript:showStrongPasswordInfo();' id="passwordInfo1" style='background-color:transparent;'>
							<i id='net-info' style='margin:5px;padding:5px 30px 10px 0px;'></i></a>
#else
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("UiPasswdLenLimit"))</script>)</span>
#endif
						</div>
					</div>
					<%}%>
#ifdef V_CHECK_PASSWORD_STRENGTH_y
					<%if(session["user"]=="root"){%>
					<div class="form-row">
						<label for="WebPassStrength"><script language=Javascript>document.write(_("passwordStrength"))</script></label>
						<div class="field">
							<span class="normal-text" id="WebPassStrength"></span>
						</div>
					</div>
					<%}%>
#endif

#ifdef V_WEB_LOGIN_LOCKING_y
					<div class="form-row">
						<label for="loginMaxAttempt"><script language=Javascript>document.write(_("loginMaxAttempt"))</script></label>
						<div class="field">
							<input type="text" name="loginMaxAttempt" id="loginMaxAttempt" class="med" value="@@form['loginMaxAttempt']">
						</div>
						<div>
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("loginMaxAttemptRange"))</script>)</span>
						</div>
					</div>
					<div class="form-row">
						<label for="loginLockDuration"><script language=Javascript>document.write(_("loginLockDuration"))</script></label>
						<div class="field">
							<input type="text" name="loginLockDuration" id="loginLockDuration" class="med" value="@@form['loginLockDuration']">
						</div>
						<div>
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("loginLockDurationRange"))</script>)</span>
						</div>
					</div>
#endif
#ifdef V_WEB_SESSION_TIMEOUT_y
					<div class="form-row">
						<label for="sessionTimeout"><script language=Javascript>document.write(_("sessTout"))</script></label>
						<div class="field">
							<input type="text" name="sessionTimeout" id="sessionTimeout" class="med" value="@@form['sessionTimeout']">
						</div>
						<div>
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("sessionTimeoutRange"))</script>)</span>
						</div>
					</div>
#endif

				</div>
				<div class="hr"></div>
				<%if(session["user"]=="root"){%>
				<h2><script language=Javascript>document.write(_("telnet account"))</script></h2>
				<div class="form-row no-bg-form">
					<div class="form-row">
						<label for="user_name"><script language=Javascript>document.write(_("user name"))</script></label>
						<div class="field">
							<span class="normal-text">root</span>
						</div>
					</div>
					<div class="form-row">
						<label for="Pass"><script language=Javascript>document.write(_("password"))</script></label>
						<div class="field">
#ifdef V_CHECK_PASSWORD_STRENGTH_y
							<input type="password" name="TelnetPass" id="field-5" class="med password-locked" value="@@form['Pass']" onkeyup="checkPassStrength('telnet')">
#else
							<input type="password" name="TelnetPass" id="field-5" class="med password-locked" value="@@form['Pass']">
#endif
						</div>
						<div>
#ifdef V_ENFORCE_PASSWORD_POLICY_y
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("telnetPasswordLimit"))</script>)</span>
							<a href='javascript:showStrongPasswordInfo();' id="passwordInfo2" style='background-color:transparent;'>
							<i id='net-info' style='margin:5px;padding:5px 30px 10px 0px;'></i></a>
#else
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("passwdLenLimit"))</script>)</span>
#endif
						</div>
					</div>
					<div class="form-row">
						<label for="PassConf"><script language=Javascript>document.write(_("confirmPassword"))</script></label>
						<div class="field">
							<input type="password" name="TelnetPassConf" id="field-6" class="med password-locked" value="@@form['PassConf']">
						</div>
						<div>
#ifdef V_ENFORCE_PASSWORD_POLICY_y
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("telnetPasswordLimit"))</script>)</span>
							<a href='javascript:showStrongPasswordInfo();' id="passwordInfo3" style='background-color:transparent;'>
							<i id='net-info' style='margin:5px;padding:5px 30px 10px 0px;'></i></a>
#else
							<span class="normal-text">&nbsp;(<script language=Javascript>document.write(_("passwdLenLimit"))</script>)</span>
#endif
						</div>
					</div>
#ifdef V_CHECK_PASSWORD_STRENGTH_y
					<div class="form-row">
						<label for="TelnetPassStrength"><script language=Javascript>document.write(_("passwordStrength"))</script></label>
						<div class="field">
							<span class="normal-text" id="TelnetPassStrength"></span>
						</div>
					</div>
#endif
				</div>
				<div class="hr"></div>
				<%}%>
				<div class="submit-row">
					<button type="button" onClick="submitF()"><script language=Javascript>document.write(_("CSsave"))</script></button>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="copy-right"><script language=Javascript>document.write(_("powered by netComm"))</script></p>
	</div>
</footer>

<script type="text/javascript">
	set_menu("System", "ADMINISTRATION", <%_val = session["user"];%>"@@_val");
<%	if(request['QUERY_STRING']=="success") {%>
		success_alert("",_('administrationSubmitSuccess'));
<%	}%>
#ifndef V_WAN_INTERFACE_none
<% if (session["user"] == "root") { %>
	function validIpWhitelist(value) {
		if (value) {
			var pattern = new RegExp("<% write(validIpWhitelistPattern); %>");
			return pattern.test(value);
		}
		else {
			return true;
		}
	}
<% } %>
<% if (session["user"] == "root") { %>
#ifdef V_WEBIF_SPEC_vdf
/*********for vdf validator**********/
	VALIDATOR.config.errors["port"]=_("warningMsg07"); //Port number must have a value between 1 and 65535.
	$.validator.addMethod("port",function(c,a) {
		if(c!==$(a).attr("data-watermark")) {
			if( c < 1 || c > 65534 ) {
				return false;
			}
		}
		else if($(a).hasClass("required")) {
			return false;
		}
		return true;
	},VALIDATOR.config.errors.port);
	$.validator.addMethod("httpsIpWhitelist",function(value, element) {
		return validIpWhitelist(value);
	},_("httpsIpWhitelistValidation"));
#else
/********* for NTC ValidationEngine **********/
function validate_port(field, rules, i, options) {
	if( field.val() < 1 || field.val() > 65534 ) {
		return _("warningMsg07");
	}
}
function validateIpWhitelist(field) {
	if (!validIpWhitelist(field.val())) {
		return _("httpsIpWhitelistValidation");
	}
}
#endif
<% } %>
#endif
</script>
</body>
</html>
