body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin:0pt;
padding:0pt;
}
fieldset, img {
border:0pt none;
}
body {
	background:#404040 none repeat scroll 0%;
	color:#695E4A;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	overflow:visible;
	position:relative;
	padding-bottom: 10px;
}
/*
.content {
	background:url(/images/05.gif) repeat scroll right top;
	width:inherit;
	height:auto;
	max-width: 840px;
	position: inherit;
}*/

#contentWrapper-log {
	/*background:#FFFFFF url(/images/body_bg.jpg) no-repeat scroll right top;*/
	background:#FFFFFF;
	margin:0px auto;
	padding:0px 0px 10px;
	position:relative;
	width:840px;
	min-height: 700px;
}

#contentWrapper {
	/*background:#FFFFFF url(/images/body_bg.jpg) no-repeat scroll right top;*/
	background:#FFFFFF;
	margin:0px auto;
	padding:0px 0px 10px;
	position:relative;
	width:840px;
	min-height: 700px;
}

table.body {
  border: 0px;
  width: 840px;
}

th {
	background:transparent url(/images/NTC_tableHeader.gif) repeat-x scroll right top;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	text-align:left;
	min-width: 450px;
	max-width: 840px;
}
h1 {
	color:005799;
	font-size:14px;
	font-weight:bold;
	margin-bottom:2px;
	padding:0pt;
}
h2 {
	color:#3f3629;
	font-size:13px;
	font-weight:bold;
	margin-bottom:2px;
	padding:0pt;
}
h2 a:link, h2 a:visited {
color:#3F3629;
}
h3 {
	color:#005799;
	font-size:12px;
	font-weight:normal;
	padding:30px 20px 0px 20px;
}
h4 {
color:#809617;
font-size:24px;
line-height:22px;
margin-bottom:12px;
}
h5 {
	color:#695E4A;
	font-size:36px;
	font-weight:bold;
	margin-bottom:8px;
	font-style: italic;
	padding-left: 50px;
	font-family: sans-serif;
	margin:0pt;
	padding:0pt;
}
p {
	color:#695E4A;
	font-size:12px;
	line-height:20px;
	margin-bottom:10px;
}

a:link, a:visited {
color:#005799;
text-decoration:none;
}
/*a:hover {
color:#3F3629;
text-decoration:underline;
}*/

ul {
margin-bottom:10px;
}
table {
width:100%;
}

td {
	background:#F0EFEB none repeat scroll 0%;
	color:#695E4A;
	font-size:12px;
	padding:4px 10px;
/*	text-align:left;*/
}

td.title {
  font-weight: bold;
}

.td_ltr {
	direction: ltr;
}

#logo {
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
}

#productTitle {
	direction:ltr;
	left:380px;
	position:absolute;
	top:46px;
	width: 400px;
	height: 35px;
}

.cdcsAjax {
	border-style:none;
	background:#F0EFEB;
	background-color: #F0EFEB;
}
.bar1 {background-color:#F0EFEB; position:relative; text-align:left; height:12px; width:838px; border:1px solid #505050;}
.bar2 {background-color:#606060; position:relative; text-align:left; height:12px; width:0%;}
.sideNav {
	margin-top:-3px;
	width:840px;
	margin-left:0px;
	padding-bottom:0px;
}
#footer {
color:#005799;
font-size:11px;
margin:0px auto;
text-align:left;
width:840px;
}

.paginationstyle
{
	text-align: left;
	padding: 2px 0;
	margin: 10px 0;
	max-width: 840px;
}

.logfile {
	border-collapse: collapse;
	width:840px;
	max-width: 840px;
}
.logfile td { 
	color:#000;
	font-size:9px;
}
.logfile td.odd { background: #F0EFEB; }
.logfile td.even { background: #DEDCD8; }

.potr_status { padding-left:54px; }

/*******************************************/
.sideNav li a:link, .sideNav li a:visited {
	color:#3F3629;
	display:block;
	padding-bottom:4px;
	padding-left:4px;
	padding-top: 4px;
}
/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.stunicholls.com/menu/pro_drop_2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
.preload1 {background: url(/images/NTC_button_1.gif);}
.preload2 {background: url(/images/NTC_button_1a.gif);}

#nav 
{
	padding:0;
	margin:0;
	list-style:none;
	height:32px;
	position:relative;
	z-index:500;
	font-family:arial, verdana, sans-serif;
	background-image: url(images/top_green.gif);
}

#nav li.top 
{
	display:block;
	float:left;
	height:32px;
	/*text-align: center;*/
}

#nav li a.top_link 
{
	display:block;
	height:32px;
	line-height:32px;
	color:#695E4A;
	text-decoration:none;
	font-size:11px;
	font-weight:normal;/* bold; */
	padding:0 0 0 3px; 
	cursor:pointer;
	background: url(/images/NTC_button_0.gif);
}


#nav li a.top_link span {
	display:block;
	padding:0 0 0 3px;
	height:32px;
	width: 124px;  
	background-image: url(/images/NTC_button_0.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
#nav li a.top_link span.down {
	display:block;
	padding:0 0 0 3px;
	height:32px;
	background: url(/images/NTC_button_0a.gif) no-repeat right top;
 	width: 124px;
}

#nav li:hover a.top_link {color:#fff; background: url(/images/NTC_button_1.gif) no-repeat;}
#nav li:hover a.top_link span {background:url(/images/NTC_button_1.gif) no-repeat right top;}
#nav li:hover a.top_link span.down 
{
	background-image: url(/images/NTC_button_1a.gif);
	background-repeat: no-repeat;
	background-position: right top;
}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

#nav li:hover ul.sub
{
	left:0px; /*position-x*/
	top:32px; /*position-y*/
	padding:0px 0px 3px;
	border:2px solid #608040;
	white-space:nowrap;
	width:126px;/* sub menu width was 110   */
	height:auto;
	z-index:300;
	background-color: #bbd37e;
}
#nav li:hover ul.sub li
{display:block; height:26px; position:relative; width:110px; font-weight:normal;} /***float:left;**/
#nav li:hover ul.sub li a
{
	display:block;
	font-size:11px;
	height:18px;
	width:120px;/* sub menu width was 103*/
	line-height:18px;
	text-indent:5px;
	color:#000;
	text-decoration:none;
	border:1px solid #bbd37e;
}

#nav li ul.sub li a.fly {
background:#bbd37e url(/images/arrow.gif) 88px 10px no-repeat; 
}
#nav li:hover ul.sub li a:hover 
{
	color:#fff;
	border-color:#fff;
	background-color: #608040;
}
#nav li:hover ul.sub li a.fly:hover {
background:#608040 url(/images/arrow_over.gif) 88px 10px no-repeat;
color:#fff;
}

#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul
{left:98px; top:0px; background: #bbd37e; padding:0 0 3px; border:1px solid #5c731e; white-space:nowrap; width:126px; z-index:400; height:auto;}
/**********/
#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{background:#608040 url(/images/arrow_over.gif) 88px 10px no-repeat; color:#fff; border-color:#fff;} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{background:#bbd37e url(/images/arrow.gif) 88px 10px no-repeat; color:#000; border-color:#bbd37e;} 

/*=================================================================== */

#nav2
{
	padding:0;
	margin:0;
	list-style:none;
	height:32px;
	position:relative;
	z-index:500;
	font-family:arial, verdana, sans-serif;
	font-size:11px;
}

#nav2 li.top
{
	display:block;
	float:left;
	height:32px;
}

#nav2 li p.top_link
{
	display:block;
	float:inherit;
	height:12px;
	text-decoration:none;
	font-size:11px;

	padding:6px 0 0 3px; 
	cursor:pointer;
}

#nav2 li:hover {position:relative; z-index:200;}

#nav2 li:hover ul.sub
{
	left:1px; /*position-x*/
	top:24px; /*position-y*/
	padding:2px 2px 2px 2px;
	/*border:1px solid #aaaaaa;*/
	white-space:nowrap;
	width:132px;/*Country*/
	height:auto;
	z-index:300;
	background-color: #cccccc;
}
#nav2 li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:80px; font-weight:normal;}


/*#nav2 li:hover ul.sub li a,*/
#nav2 li:hover ul.sub li span
{
	display:block;
	height:18px;
	width:130px;/*Country & Carrier*/
	line-height:18px;
	text-indent:5px;
	color:#000;
	text-decoration:none;
	border:1px solid #FFFFFF;
}

/*#nav2 li:hover ul.sub li a:hover,*/ 
#nav2 li:hover ul.sub li span:hover
{
	/*color:#005799;*/
	border-color:#ffffff;
	background-color: #aaaaaa;
}

#nav2 li:hover li:hover ul
{
	left:120px;
	top:0px;
	background: #dddddd;
	padding:2px 2px 2px 2px;
	/*border:1px solid #ffffff;*/
	white-space:nowrap;
	width:132px; /* Carrier */
	z-index:400;
	height:auto;
}

#nav2 li:hover li:hover li:hover ul,
#nav2 li:hover li:hover li:hover li:hover ul,
#nav2 li:hover li:hover li:hover li:hover li:hover ul
{
	left:120px;
	top:0px;
	background: #dddddd;
	padding:2px 2px 2px 2px;
	/*border:1px solid #ffffff;*/
	white-space:nowrap;
	width:132px; /*APN*/
	z-index:400;
	height:auto;
}

#nav2 ul, 
#nav2 li:hover ul ul,
#nav2 li:hover li:hover ul ul,
#nav2 li:hover li:hover li:hover ul ul,
#nav2 li:hover li:hover li:hover li:hover ul ul
{position:absolute; top:-9999px; list-style:none;}


#nav2 li:hover li:hover span.fly,
#nav2 li:hover li:hover li:hover span.fly,
#nav2 li:hover li:hover li:hover li:hover span.fly
{background:#aaaaaa no-repeat; color:#fff; border-color:#fff;} 


#nav2 li:hover li:hover li span.fly,
#nav2 li:hover li:hover li:hover li span.fly,
#nav2 li:hover li:hover li:hover li:hover li span.fly
{background:#cccccc no-repeat; color:#000; border-color:#fff;} 



