<%if( request['SESSION_ID']!=session["sessionid"] ) redirect('/index.html');%>
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>System Security Settings</title>
<link href="/BovineStyle.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript">
<%   
	if (request['REQUEST_METHOD'] == "POST")
	{
        tempval = form['pingFrmWANFilterEnabled'];
        retval = set_single( 'service.firewall.WANPingFilter='+tempval, '-p'); 
        tempval = form['spiFWEnabled'];
        retval = set_single( 'service.firewall.SPIFWEnabled='+tempval, '-p');
	} 
%>

function updateState()
{
	var wpf = <%val='\"'+get_single('service.firewall.WANPingFilter')+'\"';%>@@val;
	var spi = <%val='\"'+get_single('service.firewall.SPIFWEnabled')+'\"';%>@@val;

	if(wpf == "1")
		document.websSysFirewall.pingFrmWANFilterEnabled.options.selectedIndex = 1;
	else
		document.websSysFirewall.pingFrmWANFilterEnabled.options.selectedIndex = 0;
	if(spi == "0")
		document.websSysFirewall.spiFWEnabled.options.selectedIndex = 0;
	else
		document.websSysFirewall.spiFWEnabled.options.selectedIndex = 1;
}

function resetState()
{
	document.websSysFirewall.pingFrmWANFilterEnabled.options.selectedIndex = 0;
	document.websSysFirewall.spiFWEnabled.options.selectedIndex = 1;
}
</script>
</head>

<body onLoad="updateState()">
<div id="contentWrapper">
<% include menu.html %>
<div class="content" >
<h3>Firewall > System Security</h3>
<div class="line" style="padding-left:20px; margin: 8px 20% 16px 0;"></div>
<!--form name="websSysFirewall" action=/goform/websSysFirewall-->
<form name="websSysFirewall" method="POST" action="@@request['SCRIPT_NAME']">

<table width="85%" border="0" cellpadding="2" cellspacing="1">
<tr>
	<th class="title" colspan="3" id="sysfwRemoteManagementTitle">Remote management</th>
</tr>
<tr>
	<td width="42%">Ping from WAN / 3G interface</td>
	<td>
	<select name="pingFrmWANFilterEnabled" size="1">
	<option value=0 >Deny</option>
	<option value=1 >Enable</option>
	</select>
	</td>
</tr>
</table>
<div class="line" style="padding-left:20px; margin: 8px 15% 16px 0;"></div>
<table width="85%" border="0" cellpadding="2" cellspacing="1">
<tr>
	<td width="42%"><span class="title">Stateful Packet Inspection (SPI) Firewall</span></td>
	<td>
	<select name="spiFWEnabled" size="1">
	<option value=0 >Disable</option>
	<option value=1 >Enable</option>
	</select>
	</td>
</tr>
</table>
<div align="center" style="margin-right:15% ">
<p></p>
	<input type="submit" value="&nbsp;Save&nbsp;" name="sysfwApply" > &nbsp;&nbsp;
	<input type="button" value="Default" name="sysfwReset" onClick="resetState()">
</div>
</form>
</div></div>
<div id="footer">User Name:&nbsp;&nbsp;&nbsp;<%write(session["user"]);%>
<div style="text-align:right" id="copyRight"></div></div>
<script type="text/javascript">
setCopyRight();
</script>
</body>
</html>
