<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<%if( request["SESSION_ID"]!=session["sessionid"] ) { redirect('/index.html'); exit(403); } %>
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% include mbssid.inc %>
<title>WLAN</title>
<link href="/BovineStyle.css" rel="stylesheet" type="text/css" />
</head>
<%
if (request['REQUEST_METHOD'] == "POST") {
	tempval = form['rdbCmd'];
	if( tempval != "" )
		set_list( tempval, '-p' );
	if( session["sessionSsidIdx"]!=form['mulSSID'] )
		session["sessionSsidIdx"]=form['mulSSID'];
}
else { /*GET*/
	form['wlEnbl'] = get_single('wlan.0.radio');
	form['wlMode'] = get_single('wlan.0.wireless_mode');
}
%>
<body>
<div id="contentWrapper">
<% include menu.html %>

<script language="javascript">
Butterlate.setTextDomain("wlan");

var bssid_num=<%val=get_single('wlan.0.bssid_num');%>"@@val";
var country = <%val=get_single('localisation.region');%>"@@val";
if(country=='N/A'||country=='') country='AU';
var band= <%val=get_single('wlan.0.conf.band');%>"@@val";

var channel = <%val=get_single("wlan.0.conf.channel");%>"@@val";
if( channel == '' || channel == "N/A") channel = 8;

var sessionSsidIdx = <%i=session["sessionSsidIdx"];%>"@@i";
if( sessionSsidIdx!='0' && sessionSsidIdx!='1' && sessionSsidIdx!='2' && sessionSsidIdx!='3' && sessionSsidIdx!='4')
	sessionSsidIdx = '0';

ChannelList_24 = new Array(14);
ChannelList_24[0] = "AUTO";
ChannelList_24[1] = "2412MHz ("+_("channel")+" 1)";
ChannelList_24[2] = "2417MHz ("+_("channel")+" 2)";
ChannelList_24[3] = "2422MHz ("+_("channel")+" 3)";
ChannelList_24[4] = "2427MHz ("+_("channel")+" 4)";
ChannelList_24[5] = "2432MHz ("+_("channel")+" 5)";
ChannelList_24[6] = "2437MHz ("+_("channel")+" 6)";
ChannelList_24[7] = "2442MHz ("+_("channel")+" 7)";
ChannelList_24[8] = "2447MHz ("+_("channel")+" 8)";
ChannelList_24[9] = "2452MHz ("+_("channel")+" 9)";
ChannelList_24[10] = "2457MHz ("+_("channel")+" 10)";
ChannelList_24[11] = "2462MHz ("+_("channel")+" 11)";
ChannelList_24[12] = "2467MHz ("+_("channel")+" 12)";
ChannelList_24[13] = "2472MHz ("+_("channel")+" 13)";
ChannelList_24[14] = "2484MHz ("+_("channel")+" 14)";

function CreateChannelOption() {
	var x = document.getElementById("szChannel");
	var maxchannel=11;
	if (country=="AU"||country=="JP"||country=="TW"||country=="FR"||country=="IE"||country=="CN"||country=="HK"||country=="ALL")
		maxchannel=13;
	if (country=="JP" && document.form.wlMode.value=="1") //11b
		maxchannel=14;	
	for (i = x.length - 1; i>=0; i--)
		x.remove(i);		
	for( var i=0; i<=maxchannel; i++ ) {
		var y = document.createElement('option');
		y.text = ChannelList_24[i];
		y.value = i;
		try {
			x.add(y,null); // standards compliant
		}
		catch(ex) {
			x.add(y); // IE only
		}
	}
	setSelect(document.form.szChannel, channel);
}

function wlLoadCountryList() {
	var phytype = "b";
	var cur = 0;
	var sel = 0;
	var i = 0;
	if (band == "1") { // 5G
			;
	}
	else {
	document.forms[0].wlCountry[0] = new Option(_("AMERICAN SAMOA"), "AS");
	document.forms[0].wlCountry[1] = new Option(_("ANTIGUA AND BARBUDA"), "AG");
	document.forms[0].wlCountry[2] = new Option(_("ARGENTINA"), "AR");
	document.forms[0].wlCountry[3] = new Option(_("ARUBA"), "AW");
	document.forms[0].wlCountry[4] = new Option(_("AUSTRALIA"), "AU");
	document.forms[0].wlCountry[5] = new Option(_("AUSTRIA"), "AT");
	document.forms[0].wlCountry[6] = new Option(_("AZERBAIJAN"), "AZ");
	document.forms[0].wlCountry[7] = new Option(_("BAHAMAS"), "BS");
	document.forms[0].wlCountry[8] = new Option(_("BAHRAIN"), "BH");
	document.forms[0].wlCountry[9] = new Option(_("BANGLADESH"), "BD");
	document.forms[0].wlCountry[10] = new Option(_("BARBADOS"), "BB");
	document.forms[0].wlCountry[11] = new Option(_("BELARUS"), "BY");
	document.forms[0].wlCountry[12] = new Option(_("BELGIUM"), "BE");
	document.forms[0].wlCountry[13] = new Option(_("BERMUDA"), "BM");
	document.forms[0].wlCountry[14] = new Option(_("BHUTAN"), "BT");
	document.forms[0].wlCountry[15] = new Option(_("BOLIVIA"), "BO");
	document.forms[0].wlCountry[16] = new Option(_("BOSNIA AND HERZEGOVINA"), "BA");
	document.forms[0].wlCountry[17] = new Option(_("BRAZIL"), "BR");
	document.forms[0].wlCountry[18] = new Option(_("BRUNEI DARUSSALAM"), "BN");
	document.forms[0].wlCountry[19] = new Option(_("BULGARIA"), "BG");
	document.forms[0].wlCountry[20] = new Option(_("CANADA"), "CA");
	document.forms[0].wlCountry[21] = new Option(_("CAPE VERDE"), "CV");
	document.forms[0].wlCountry[22] = new Option(_("CAYMAN ISLANDS"), "KY");
	document.forms[0].wlCountry[23] = new Option(_("CHILE"), "CL");
	document.forms[0].wlCountry[24] = new Option(_("CHINA"), "CN");
	document.forms[0].wlCountry[25] = new Option(_("COLOMBIA"), "CO");
	document.forms[0].wlCountry[26] = new Option(_("COSTA RICA"), "CR");
	document.forms[0].wlCountry[27] = new Option(_("CROATIA"), "HR");
	document.forms[0].wlCountry[28] = new Option(_("CYPRUS"), "CY");
	document.forms[0].wlCountry[29] = new Option(_("CZECH REPUBLIC"), "CZ");
	document.forms[0].wlCountry[30] = new Option(_("DENMARK"), "DK");
	document.forms[0].wlCountry[31] = new Option(_("DOMINICA"), "DM");
	document.forms[0].wlCountry[32] = new Option(_("DOMINICAN REPUBLIC"), "DO");
	document.forms[0].wlCountry[33] = new Option(_("ECUADOR"), "EC");
	document.forms[0].wlCountry[34] = new Option(_("EGYPT"), "EG");
	document.forms[0].wlCountry[35] = new Option(_("EL SALVADOR"), "SV");
	document.forms[0].wlCountry[36] = new Option(_("ESTONIA"), "EE");
	document.forms[0].wlCountry[37] = new Option(_("FALKLAND ISLANDS"), "FK");
	document.forms[0].wlCountry[38] = new Option(_("FINLAND"), "FI");
	document.forms[0].wlCountry[39] = new Option(_("FRENCH GUIANA"), "GF");
	document.forms[0].wlCountry[40] = new Option(_("FRANCE"), "FR");
	document.forms[0].wlCountry[41] = new Option(_("GIBRALTAR"), "GI");
	document.forms[0].wlCountry[42] = new Option(_("GERMANY"), "DE");
	document.forms[0].wlCountry[43] = new Option(_("GREECE"), "GR");
	document.forms[0].wlCountry[44] = new Option(_("GUADELOUPE"), "GP");
	document.forms[0].wlCountry[45] = new Option(_("GUAM"), "GU");
	document.forms[0].wlCountry[46] = new Option(_("GUATEMALA"), "GT");
	document.forms[0].wlCountry[47] = new Option(_("GUERNSEY"), "GG");
	document.forms[0].wlCountry[48] = new Option(_("HAITI"), "HT");
	document.forms[0].wlCountry[49] = new Option(_("HOLY SEE"), "VA");
	document.forms[0].wlCountry[50] = new Option(_("HONDURAS"), "HN");
	document.forms[0].wlCountry[51] = new Option(_("HONG KONG"), "HK");
	document.forms[0].wlCountry[52] = new Option(_("HUNGARY"), "HU");
	document.forms[0].wlCountry[53] = new Option(_("ICELAND"), "IS");
	document.forms[0].wlCountry[54] = new Option(_("INDIA"), "IN");
	document.forms[0].wlCountry[55] = new Option(_("INDONESIA"), "ID");
	document.forms[0].wlCountry[56] = new Option(_("IRAN"), "IR");
	document.forms[0].wlCountry[57] = new Option(_("IRELAND"), "IE");
	document.forms[0].wlCountry[58] = new Option(_("ISRAEL"), "IL");
	document.forms[0].wlCountry[59] = new Option(_("ITALY"), "IT");
	document.forms[0].wlCountry[60] = new Option(_("JAMAICA"), "JM");
	document.forms[0].wlCountry[61] = new Option(_("JAPAN"), "JP");
	document.forms[0].wlCountry[62] = new Option(_("JERSEY"), "JE");
	document.forms[0].wlCountry[63] = new Option(_("JORDAN"), "JO");
	document.forms[0].wlCountry[64] = new Option(_("KENYA"), "KE");
	document.forms[0].wlCountry[65] = new Option(_("KOREA"), "KR");
	document.forms[0].wlCountry[66] = new Option(_("LATVIA"), "LV");
	document.forms[0].wlCountry[67] = new Option(_("LIECHTENSTEIN"), "LI");
	document.forms[0].wlCountry[68] = new Option(_("LITHUANIA"), "LT");
	document.forms[0].wlCountry[69] = new Option(_("LUXEMBOURG"), "LU");
	document.forms[0].wlCountry[70] = new Option(_("MACEDONIA"), "MK");
	document.forms[0].wlCountry[71] = new Option(_("MALAWI"), "MW");
	document.forms[0].wlCountry[72] = new Option(_("MACAO"), "MO");
	document.forms[0].wlCountry[73] = new Option(_("MALAYSIA"), "MY");
	document.forms[0].wlCountry[74] = new Option(_("MALDIVES"), "MV");
	document.forms[0].wlCountry[75] = new Option(_("MALTA"), "MT");
	document.forms[0].wlCountry[76] = new Option(_("MAN"), "IM");
	document.forms[0].wlCountry[77] = new Option(_("MARTINIQUE"), "MQ");
	document.forms[0].wlCountry[78] = new Option(_("MAURITANIA"), "MR");
	document.forms[0].wlCountry[79] = new Option(_("MAURITIUS"), "MU");
	document.forms[0].wlCountry[80] = new Option(_("MAYOTTE"), "YT");
	document.forms[0].wlCountry[81] = new Option(_("MEXICO"), "MX");
	document.forms[0].wlCountry[82] = new Option(_("MICRONESIA"), "FM");
	document.forms[0].wlCountry[83] = new Option(_("MONACO"), "MC");
	document.forms[0].wlCountry[84] = new Option(_("NETHERLANDS"), "NL");
	document.forms[0].wlCountry[85] = new Option(_("NETHERLANDS ANTILLES"), "AN");
	document.forms[0].wlCountry[86] = new Option(_("NEW ZEALAND"), "NZ");
	document.forms[0].wlCountry[87] = new Option(_("NICARAGUA"), "NI");
	document.forms[0].wlCountry[88] = new Option(_("NIGERIA"), "NG");
	document.forms[0].wlCountry[89] = new Option(_("NORTHERN MARIANA ISLANDS"), "MP");
	document.forms[0].wlCountry[90] = new Option(_("NORWAY"), "NO");
	document.forms[0].wlCountry[91] = new Option(_("PAKISTAN"), "PK");
	document.forms[0].wlCountry[92] = new Option(_("PANAMA"), "PA");
	document.forms[0].wlCountry[93] = new Option(_("PAPUA NEW GUINEA"), "PG");
	document.forms[0].wlCountry[94] = new Option(_("PERU"), "PE");
	document.forms[0].wlCountry[95] = new Option(_("PHILIPPINES"), "PH");
	document.forms[0].wlCountry[96] = new Option(_("POLAND"), "PL");
	document.forms[0].wlCountry[97] = new Option(_("PORTUGAL"), "PT");
	document.forms[0].wlCountry[98] = new Option(_("PUERTO RICO"), "PR");
	document.forms[0].wlCountry[99] = new Option(_("REUNION"), "RE");
	document.forms[0].wlCountry[100] = new Option(_("ROMANIA"), "RO");
	document.forms[0].wlCountry[101] = new Option(_("RUSSIAN FEDERATION"), "RU");
	document.forms[0].wlCountry[102] = new Option(_("SAINT PIERRE AND MIQUELON"), "PM");
	document.forms[0].wlCountry[103] = new Option(_("SAUDI ARABIA"), "SA");
	document.forms[0].wlCountry[104] = new Option(_("SINGAPORE"), "SG");
	document.forms[0].wlCountry[105] = new Option(_("SLOVAKIA"), "SK");
	document.forms[0].wlCountry[106] = new Option(_("SLOVENIA"), "SI");
	document.forms[0].wlCountry[107] = new Option(_("SOUTH AFRICA"), "ZA");
	document.forms[0].wlCountry[108] = new Option(_("SPAIN"), "ES");
	document.forms[0].wlCountry[109] = new Option(_("SRI LANKA"), "LK");
	document.forms[0].wlCountry[110] = new Option(_("SWEDEN"), "SE");
	document.forms[0].wlCountry[111] = new Option(_("SWITZERLAND"), "CH");
	document.forms[0].wlCountry[112] = new Option(_("TAIWAN"), "TW");
	document.forms[0].wlCountry[113] = new Option(_("TANZANIA"), "TZ");
	document.forms[0].wlCountry[114] = new Option(_("THAILAND"), "TH");
	document.forms[0].wlCountry[115] = new Option(_("TURKEY"), "TR");
	document.forms[0].wlCountry[116] = new Option(_("UKRAINE"), "UA");
	document.forms[0].wlCountry[117] = new Option(_("UNITED ARAB EMIRATES"), "AE");
	document.forms[0].wlCountry[118] = new Option(_("UNITED KINGDOM"), "GB");
	document.forms[0].wlCountry[119] = new Option(_("UNITED STATES"), "US");
	document.forms[0].wlCountry[120] = new Option(_("UNITED STATES MINOR OUTLYING ISLANDS"), "UM");
	document.forms[0].wlCountry[121] = new Option(_("URUGUAY"), "UY");
	document.forms[0].wlCountry[122] = new Option(_("UZBEKISTAN"), "UZ");
	document.forms[0].wlCountry[123] = new Option(_("VENEZUELA"), "VE");
	document.forms[0].wlCountry[124] = new Option(_("VIET NAM"), "VN");
	document.forms[0].wlCountry[125] = new Option(_("VIRGIN ISLANDS, BRITISH"), "VG");
	document.forms[0].wlCountry[126] = new Option(_("VIRGIN ISLANDS, U.S."), "VI");
	document.forms[0].wlCountry[127] = new Option(_("YUGOSLAVIA"), "YU");
	document.forms[0].wlCountry[128] = new Option(_("ZAMBIA"), "ZM");
	document.forms[0].wlCountry[129] = new Option(_("BAKER ISLAND"), "Z2");
	document.forms[0].wlCountry[130] = new Option(_("ALL CHANNELS"), "ALL");
	}
	for (i=0; i< document.forms[0].wlCountry.options.length; i++) {
		if (document.forms[0].wlCountry.options[i].value == country) {
			document.forms[0].wlCountry.options[i].selected = true;
			break;
		}
	}
	/* set to all(the last one) if not found */
	if( i == document.forms[0].wlCountry.options.length )
		document.forms[0].wlCountry.options[i-1].selected = true;
}

function hideWlSecInfo(hidden) {
	var status = 'visible';
	with ( document.forms[0] ) {
		var i = 0;
		if ( hidden == 1 ) {
		status = 'hidden';
		wlCountry.disabled = 1;
		document.getElementById( "SecurityDiv" ).style['display']='none';
		} else {
			wlCountry.disabled = 0;
			document.getElementById( "SecurityDiv" ).style['display']='';
		}
	}
}

function checkHex(str) {
	var len = str.length;
	for (var i=0; i<str.length; i++) {
		if ((str.charAt(i) >= '0' && str.charAt(i) <= '9') ||
		(str.charAt(i) >= 'a' && str.charAt(i) <= 'f') ||
		(str.charAt(i) >= 'A' && str.charAt(i) <= 'F') ) {
			continue;
		} else
	        return false;
	}
	return true;
}

function setKey(k) {
var myid = document.getElementById("WEP_KEY" + k);
var textid = document.getElementById("TEXT" + k);
var keyValue = myid.value;
var keylength = keyValue.length;
	if ( keylength != 0 ) {
		if(keylength != 10 && keylength != 26) {
			myid.style.color = "BLACK";
			textid.innerHTML="";
		}
		else {
			myid.style.color = "GREEN";
			if(keylength == 10) {
				textid.innerHTML="&nbsp;&nbsp;64 bit&nbsp;&nbsp;HEX";
				document.form.wlKeyBit.value = "64";
			}
			else {
				textid.innerHTML="&nbsp;&nbsp;128 bit&nbsp;&nbsp;HEX";
				document.form.wlKeyBit.value = "128";
			}
			if( isValidKey(keyValue, 5)==false && isValidKey(keyValue, 13)==false )	
				myid.style.color = "RED";
		}
		if( checkHex( keyValue ) == false) {
			myid.style.color = "RED";
		}
	}
}

function isValidWPAPskKey(val) {
var ret = false;
var len = val.length;
var maxSize = 64;
var minSize = 8;

	if ( len >= minSize && len < maxSize )
		ret = true;
	else if ( len == maxSize ) {
		for ( i = 0; i < maxSize; i++ )
			if ( isHexaDigit(val.charAt(i)) == false )
			break;
		if ( i == maxSize )
			ret = true;
	} else
		ret = false;
	return ret;
}

function hideAllElements() {
	$("#encryptionTypeD").css("display","none");
	$("#wpaPreShareKey").css("display","none");
	$("#wpaGTKRekey").css("display","none");
	$("#wlRadius").css("display","none");
	$("#Preauth").css("display","none");
	$("#NetReauth").css("display","none");
	$("#wlWepD").css("display","none");
	$("#keyInfo").css("display","none");
	$("#div_8021x_wep").css("display","none");
}

function authModeChange( alertMsg ) {
	with ( document.forms[0] ) {
		var ssidIdx=0;
		ssidIdx=getSelectedSSIDIdx();
		var keyIdx=mbssidST[ssidIdx].network_key_id;
		var authMode = getSelect(wlAuthMode);
		hideAllElements();
		switch ( authMode ) {
		case 'OPEN':
			if(wlWep.value=="disabled")
				encryptionType.value="NONE";
			else
				encryptionType.value="WEP";
			$("#wlWepD").css("display","");
			wlWep.disabled=0;
		break;
		case 'SHARED':
			wlWep.value="enabled";
			wlWep.disabled=1;
			encryptionType.value="WEP";
			$("#wlWepD").css("display","");
		break;
		case 'WPA':
			if(alertMsg)
				alert(_("restrictAccess"));
			$("#wlWepD").css("display","none");
			$("#wpaGTKRekey").css("display","");
			encryptionType.value="TKIP"; 
			$("#encryptionTypeD").css("display","");
			$("#wlRadius").css("display","");
		break;
		case 'WPAPSK':
			$("#wlWepD").css("display","none");
			$("#wpaPreShareKey").css("display","");
			$("#wpaGTKRekey").css("display","");
			encryptionType.value="TKIP"; 
			$("#encryptionTypeD").css("display","");
			break;
		case 'WPA2':
			$("#wlWepD").css("display","none");
			$("#wpaGTKRekey").css("display","");
			encryptionType.value="TKIP"; 
			$("#encryptionTypeD").css("display","");
			$("#wlRadius").css("display","");
		break;
		case 'WPA2PSK':
			$("#wlWepD").css("display","none");
			$("#wpaPreShareKey").css("display","");;
			$("#wpaGTKRekey").css("display","");
			encryptionType.value="AES";
			$("#encryptionTypeD").css("display","");
			break;
		case 'WPAPSKWPA2PSK':
			$("#wlWepD").css("display","none");
			$("#wpaPreShareKey").css("display","");
			$("#wpaGTKRekey").css("display","");
			encryptionType.value="AES";
			$("#encryptionTypeD").css("display","");
		break;
		case 'WPA1WPA2':
			$("#wlWepD").css("display","none");
			$("#wpaGTKRekey").css("display","");
			$("#wlRadius").css("display","");
			encryptionType.value="AES";
			$("#encryptionTypeD").css("display","");
		break;
		case 'IEEE8021X':
			$("#div_8021x_wep").css("display","");;
			$("#wlRadius").css("display","");
		break;
		}
		if (authMode == "OPEN" || authMode == "SHARED" || authMode == "WEPAUTO") {
			if (getSelect(wlWep) == "enabled") {
				$("#keyInfo").css("display","");
				if(alertMsg)
					alert(_("wepExplanation"));
			}
			wlKeys1.disabled = 0;
			wlKeys2.disabled = 0;
			wlKeys3.disabled = 0;
			wlKeys4.disabled = 0;
			wlKeyIndex.length = 0;
			wlKeyIndex[0] = new Option("1", "1");
			wlKeyIndex[1] = new Option("2", "2");
			wlKeyIndex[2] = new Option("3", "3");
			wlKeyIndex[3] = new Option("4", "4");
			wlKeyIndex.selectedIndex = parseInt(keyIdx)-1;
		}
		else {
			$("#keyInfo").css("display","none");
		}
	}
}

function wpapsk_window() {
	wpaPskKey=document.form.wlWpaPsk.value;
	var psk_window = window.open("", "", "toolbar=no,width=500,height=100");
	if(Butterlate.getLang()=="ar")
		psk_window.document.write("<style>body { direction:rtl; }</style>");
	psk_window.document.write(_("WEPtext4")+"<b>&nbsp;"+wpaPskKey+"</b>");
	psk_window.document.close();
}

function chanUpdate(response)
{
	eval(response);
	document.getElementById('currChanText').innerHTML="Current Channel:&nbsp;&nbsp;<b>"+currChan+"</b>";
}

function formLoad(Idx) {
with ( document.forms[0] ) {
	var startPoll = function() {
		$.get('/cgi-bin/wlan.cgi', chanUpdate );
	}
	var currChan = <%val=get_single("wlan.0.currChan");%>"@@val";
	var configChan = <%val=get_single("wlan.0.conf.channel");%>"@@val";
	if (configChan == 0){
		if(currChan ==0){
			document.getElementById('currChanText').innerHTML="Current Channel:&nbsp;&nbsp;<b>"+"Scanning..."+"</b>";
		}
		else
			document.getElementById('currChanText').innerHTML="Current Channel:&nbsp;&nbsp;<b>"+currChan+"</b>"
		 setInterval(startPoll, 10000); 
		
	}else	{
		document.getElementById('currChanText').innerHTML="Current Channel:&nbsp;&nbsp;<b>"+configChan+"</b>";
	}

	var MbEntry;
	var ssidIdx=0;
	if(Idx==-1)
		ssidIdx=sessionSsidIdx;
	else
		ssidIdx=Idx;
	MbEntry= mbssidST[ssidIdx];
	setSelect(wlAuthMode, MbEntry.network_auth);
	if(MbEntry.encryption_type =="WEP")
		wlWep[1].selected = true;
	else
		wlWep[0].selected = true;
	wlWpaPsk.value = MbEntry.wpa_pre_shared_key;
	wlWpaGtkRekey.value = MbEntry.wpa_group_rekey_interval;
	wlRadiusIPAddr.value = MbEntry.radius_server_ip;
	wlRadiusPort.value = MbEntry.radius_port;
	wlRadiusKey.value = MbEntry.radius_key;
	wlPreauth.selectedIndex = parseInt(MbEntry.wpa2_preauthentication);
	wlNetReauth.value = MbEntry.net_re_auth_interval;
	wlMbSsid.value=MbEntry.ssid;
	wlKeys1.value=MbEntry.network_key1;
	wlKeys2.value=MbEntry.network_key2;
	wlKeys3.value=MbEntry.network_key3;
	wlKeys4.value=MbEntry.network_key4;
	mbssidEnH.value=MbEntry.enable;

	hidessidH.value=MbEntry.hide_accesspoint;

	if(MbEntry.wep8021x =="1")
		ieee8021x_wep[1].checked=true;
	else
		ieee8021x_wep[0].checked=true;

	if(mbssidEnH.value==1)
		mbssidEn[0].checked = true;
	else
		mbssidEn[1].checked = true;

	if(hidessidH.value==1)
		broadcastEn[1].checked = true;
	else
		broadcastEn[0].checked = true;
	if (wlEnbl.value==1)
		radioButton[0].checked = 1;
	else
		radioButton[1].checked = 1;
	wirelessmode.value=wlMode.value;

	document.forms[0].mulSSID.options[ssidIdx].selected  = true;
	submitForm.value="   "+_("CSsave")+"   ";
}
document.getElementById( "SSIDOptionDiv" ).style['display']='';
document.getElementById( "SSIDEditDiv" ).style['display']='none';

authModeChange(0);
for( var i=1; i<=4; i++ ) {
	setKey(i);
}
wlLoadCountryList();
}

function btnApply() {
var swep = getSelect(document.forms[0].wlWep);
	with ( document.forms[0] ) {
		var authMode = getSelect(wlAuthMode);
		var value;

		if(authMode!="IEEE8021X")
			wep8021x.value="0";

		if (authMode.indexOf("PSK")!= -1) { 
			value = wlWpaPsk.value;
			if ( isValidWPAPskKey(value) == false ) {
				alert(_("wlan warningMsg1"));
			//'WPA Pre-Shared Key should be between 8 and 63 ASCII characters or 64 hexadecimal digits.'
				return 0;
			}
		}   
		if (authMode.indexOf("WPA")!= -1 || authMode.indexOf("PSK")!= -1) { 
			//check GTK interval
			value = parseInt(wlWpaGtkRekey.value);
			if (  isNaN(value) == true || value < 0 || value > 0xffffffff ) {
				alert(_("wlan warningMsg3"));
				//'WPA Group Rekey Interval "' + wlWpaGtkRekey.value + '" should be between 0 and 4294967295.'
				return 0;
			}
			//check Reauth interval
			value = parseInt(wlNetReauth.value);
			if (  isNaN(value) == true || value < 0 || value > 0xffffffff ) {
				alert(_("wlan warningMsg11"));
				//WPA Network Reauthentication Interval should be between 0 and 4294967295.'
				return 0;
			}
		}

		if (getSelect(wlWep) == "enabled") {
			var i, val;
			var cbit = wlKeyBit.value;
			var num = parseInt(getSelect(wlKeyIndex))-1;
			switch(num)
			{
			case 0:
				val = wlKeys1.value;
			break;
			case 1:
				val = wlKeys2.value;
			break;
			case 2:
				val = wlKeys3.value;
			break;
			case 3:
				val = wlKeys4.value;
			break;
			}
			if ( val == '' && !(swep == 'enabled' && authMode == 'radius')) {
				alert(_("wlan warningMsg12"));//'Cannot choose key that has empty value.'
				return 0;
			}
			if ( val.length != 10 && val.length != 26 ) {
				alert(_("secure warningMsg22"));//Please input 10 or 26 characters of WEP key
				return 0;
			}
		}
		if ( wlMbSsid.value == '' ) {
			alert(_("wlan warningMsg4"));//SSID should not be empty.
			return 0;
		}
		
		var str = new String();
		str = wlMbSsid.value;
		if ( str.length > 32 ) {
			alert(_("wlan warningMsg5"));//'SSID should not be longer than 32 characters.');
			wlMbSsid.value = "";
			return 0;
		}
		if (mbssidEn[0].checked == true)
			mbssidEnH.value=1;
		else
			mbssidEnH.value=0;

		if (broadcastEn[0].checked == true)
			hidessidH.value=0;
		else
			hidessidH.value=1;

		makeCmd();
		return 1;
	}
}

var wds_mode = <%val=get_single('wlan.0.wds_mode');%>"@@val";
function makeCmd() {
	with ( document.forms[0] ) {
		i=getSelectedSSIDIdx();
		if(hidessidH.value =="1")
			hide_ssid = "1";
		else
			hide_ssid = "0";

		var	header = "&wlan."+i+".";
		rdbCmd.value = "wlan.currssid="+i+"&wlan."+i+".network_auth="+wlAuthMode.value
		+header+"wpa2_preauthentication="+wlPreauth.value
		+header+"net_re_auth_interval="+wlNetReauth.value
		+header+"wpa_pre_shared_key="+wlWpaPsk.value
		+header+"wpa_group_rekey_interval="+wlWpaGtkRekey.value
		+header+"radius_server_ip="+wlRadiusIPAddr.value
		+header+"radius_port="+wlRadiusPort.value
		+header+"radius_key="+wlRadiusKey.value
		+header+"encryption_type="+encryptionType.value
		+header+"network_key_id="+wlKeyIndex.value
		+header+"network_key1="+wlKeys1.value
		+header+"network_key2="+wlKeys2.value
		+header+"network_key3="+wlKeys3.value
		+header+"network_key4="+wlKeys4.value
		+header+"wep8021x="+wep8021x.value
		+header+"encryption_strength="+wlKeyBit.value
		+header+"ssid="+wlMbSsid.value
		+header+"enable="+mbssidEnH.value
		+header+"hide_accesspoint="+hide_ssid
		+"&wlan.0.radio="+wlEnbl.value
		+"&wlan.0.conf.channel="+szChannel.value
		+"&localisation.region="+wlCountry.value
		+"&wlan.0.wireless_mode="+wlMode.value;
		// In order to take effect WDS mode setting,
		// wifi HW should be reset.
		if (wds_mode != '' && wds_mode != '0') {
			rdbCmd.value += "&wlan.0.wds_trigger="+wds_mode;
		}
	}
}

function Refresh(place) {
	var code = 'location="' + place + '"'; 
	eval(code);
}


function submitF1() {
	if( btnApply() ) {
		if(confirm(_("warningChangeSecurity"))) {
			hideWlSecInfo(0);
			document.form.submitForm.disabled=true;
			document.form.submit();
		}
	}
}

function createSSIDOption() {
	for( var i=0; i<mbssidST.length; i++) {
			ssidstr=(i+1) + ": ";
			ssidstr+=mbssidST[i].ssid;
			document.form.mulSSID.options[i] = new Option(ssidstr, i);	
	}
}

function getSelectedSSIDIdx() {
	var i=0;
	var selectedIdx  = 0;
	for (i=0; i< document.forms[0].mulSSID.options.length; i++) {
		if (document.forms[0].mulSSID.options[i].selected  == true) {
		 	selectedIdx = i;
		 	break;
		}
	}
	return selectedIdx;
}

function ssidChange() {
	var Idx=0;
	Idx=getSelectedSSIDIdx();
	formLoad(Idx);
}
function editSSID() {
	document.getElementById( "SSIDOptionDiv" ).style['display']='none'; 
	document.getElementById( "SSIDEditDiv" ).style['display']=''; 
}

function makeList() {   
	for (var i = 0; i < 5; i++) {
		document.write("<tr>");
		document.write("<td><div align=\"center\"><a href=javascript:formLoad("+i+") >"+(i+1)+"</a></div></td>");
		document.write("<td><div align=\"center\"><input type=checkbox "+(mbssidST[i].enable=='1'?"checked='true'":"")+"disabled='true'></div></td>");
		document.write("<td><div align=\"center\">"+mbssidST[i].ssid+"</div></td>");
		document.write("<td><div align=\"center\">"+mbssidST[i].network_auth+"</div></td>");
		document.write("<td><div align=\"center\">"+mbssidST[i].encryption_type.toUpperCase()+"</div></td>");
		document.write("<td><div align=\"center\">"+(mbssidST[i].hide_accesspoint=='1'?'Off':'On')+"</div></td>");
		document.write("</tr>");
	}
}

$(document).ready( function() {formLoad(-1);} );
</script>

<form name="form" method='POST' autocomplete="off" action="@@request['SCRIPT_NAME']"/>
<input type="hidden" name='rdbCmd' value="@@form['rdbCmd']">
<input type="hidden" name='wep8021x' value="@@form['wep8021x']">
<input type="hidden" name='wlKeyBit' value="@@form['wlKeyBit']">
<input type="hidden" name='mbssidEnH' value="@@form['mbssidEnH']">
<input type="hidden" name='hidessidH' value="@@form['hidessidH']">
<input type="hidden"  name='wlMode' value="@@form['wlMode']"/>
<input type="hidden"  name='wlEnbl' value="@@form['wlEnbl']"/>

<h3><script language="JavaScript">document.write(_("wirelessLAN")+" > "+_("treeapp basic"))</script></h3>
<div class="line" style="padding-left:20px; margin: 8px 20% 16px 0;"></div>

<table width="80%">
<tr><th colspan="2"><script language="JavaScript">document.write(_("wirelessSetup"))</script></th></tr>
<tr> 
<td><script language="JavaScript">document.write(_("basic radio button"))</script></td>
	<td>
		<input type=radio name="radioButton" value="1" checked onClick="document.form.wlEnbl.value=1">&nbsp;<script language="JavaScript">document.write(_("on"))</script>&nbsp;&nbsp;&nbsp;
		<input type=radio name="radioButton" value="0" onClick="document.form.wlEnbl.value=0">&nbsp;<script language="JavaScript">document.write(_("off"))</script>
		<input type=hidden name=radiohiddenButton value="2">
	</td>
</tr>
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("country"))</script>:</td>
	<td><senter><select name='wlCountry' size="1" value="@@form['wlCountry']" onchange="country=this.value;CreateChannelOption()">
		</select></senter>
	</td>
</tr>
<tr> 
	<td><script language="JavaScript">document.write(_("basic network mode"))</script></td>
	<td>
		<select name="wirelessmode" id="wirelessmode" size="1" onChange="document.form.wlMode.value=this.value;CreateChannelOption();">
		<option id="wirelessmode11bgMix" value="0"><script language="JavaScript">document.write(_("basic wireless mode 11bgmix"))</script></option>
		<option id="wirelessmode11b" value="1"><script language="JavaScript">document.write(_("basic wireless mode 11b"))</script></option>
		<option id="wirelessmode11g" value="4"><script language="JavaScript">document.write(_("basic wireless mode 11g"))</script></option>
		<option id="wirelessmode11n" value="6"><script language="JavaScript">document.write(_("basic wireless mode 11n"))</script></option>
		<option id="wirelessmode11bgnMix" value="9"><script language="JavaScript">document.write(_("basic wireless mode 11bgnmix"))</script></option>
		</select>
	</td>
</tr>
</table>
<table>
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("basic frequency"))</script></td>
	<td>
	<select id="szChannel" name="szChannel" size="1" @@form['szChannel']>
	<!--option value=0 id="basicFreqGAuto">AutoSelect</option-->
	<script type="text/javascript">
	CreateChannelOption();
	</script>
	</select>
	<td id="currChanText"></td>
	</td>
</tr>
</table>


<table width="80%">
	<tr><th colspan="2"><script language="JavaScript">document.write(_("SSID and Security Settings"))</script></th></tr>
</table>

<table id="SSIDOptionDiv" width="80%">
<tr> 
<td bgcolor=#E8F8FF class=head width="28%"><script language="JavaScript">document.write(_("station ssid"));</script></td>
<td> 
	<select name="mulSSID" id="mulSSID"  onchange="ssidChange()">
	</select> 
</td>
<td> <A HREF="javascript:editSSID()"><script language="JavaScript">document.write(_("click here to edit SSID"))</script></A></td> 

</tr>
<script language="Javascript">
createSSIDOption();
</script>
</table>

<table id="SSIDEditDiv" style="display:none" width="80%">
<tr>
	<td  width='28%'><script language="JavaScript">document.write(_("station ssid"))</script>:</td>
	<td><input type='text' name='wlMbSsid' maxlength="32" size="32" value="@@form['wlMbSsid']"/></td>
</tr>
</table>
 
<table id="SecurityDiv" width="80%">
<tr> 
	<td width="28%" id="mbssidEnTxt"><script language="JavaScript">document.write( _("enable multi ssid"))</script></td>
	<td>
		<input type=radio name=mbssidEn id="mbssidEn" value="1" >&nbsp;<font id="mbssidEnF" ><script language="JavaScript">document.write( _("enable"))</script></font>&nbsp;&nbsp;
		<input type=radio name=mbssidEn id="mbssidEn" value="0" >&nbsp;<font id="mbssidEnF"><script language="JavaScript">document.write( _("disable"))</script></font>
	</td>
</tr>
<tr> 
	<td width="28%" id="hideAccessPointTxt"><script language="JavaScript">document.write( _("Broadcast SSID"))</script></td>
	<td>
		<input type=radio name=broadcastEn value="1">&nbsp;<font id="broadcastEnF"><script language="JavaScript">document.write( _("enable"))</script></font>&nbsp;&nbsp;
		<input type=radio name=broadcastEn value="0">&nbsp;<font id="broadcastEnF"><script language="JavaScript">document.write( _("disable"))</script></font>
	</td>
</tr>
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("netAuth"))</script>:</td>
	<td>
		<select name='wlAuthMode' size="1" onchange='authModeChange(1)'>
		<option value="OPEN"><script language="JavaScript">document.write(_("CSopen"))</script></option>
		<option value="SHARED"><script language="JavaScript">document.write(_("shared"))</script></option>
		<option value="WPA">WPA</option>
		<option value="WPAPSK">WPA-PSK</option>
		<option value="WPA2">WPA2</option>
		<option value="WPA2PSK">WPA2-PSK</option>  
		<option value="WPAPSKWPA2PSK">WPA-PSK-WPA2-PSK</option>
		<option value="WPA1WPA2">WPA1-WPA2</option>  
<!-- remove 820.1x option			<option value="IEEE8021X">802.1X</option> -->
		</select>
	</td>
</tr>
</table>

<table id="Preauth" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("secure wpa preauth"))</script>:</td>
	<td><select name='wlPreauth' size="1">
		<option value="0"><script language="JavaScript">document.write(_("disabled"))</script></option>
		<option value="1"><script language="JavaScript">document.write(_("enabled"))</script></option>                        
	</select></td>
</tr>
</table>   
    
<table id="NetReauth" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("networkReauthInterval"))</script>:</td>
	<td><input type='text' name='wlNetReauth' size='20' maxlength='10' value="@@form['wlNetReauth']"/></td>
</tr>
</table>

<table id="wpaPreShareKey" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("WPApreSharedKey"))</script>:</td>
	<td><input type='password' name='wlWpaPsk' size='20' maxlength='64' value="@@form['wlWpaPsk']"/></td>
	<td> <A HREF="javascript:wpapsk_window()"><script language="JavaScript">document.write(_("clickHereToDisplay"))</script></A></td>                     
</tr>
</table>

<table id="wpaGTKRekey" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("wpaRekeyInterval"))</script>:</td>
	<td><input type='text' name='wlWpaGtkRekey' size='20' maxlength='10' value="@@form['wlWpaGtkRekey']"/></td>
</tr>
</table>

<table id="wlRadius" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("radiusServerIpAddress"))</script>:</td>
	<td><input type='text' name='wlRadiusIPAddr' size='20' maxlength='15' value="@@form['wlRadiusIPAddr']"/></td>
</tr>
<tr>
	<td><script language="JavaScript">document.write(_("radiusPort"))</script>:</td>
	<td><input type='text' name='wlRadiusPort' size='20' maxlength='5' value="@@form['wlRadiusPort']"/></td>
</tr>
<tr>
	<td><script language="JavaScript">document.write(_("radiusKey"))</script>:</td>
	<td><input type='password' name='wlRadiusKey' size='20' maxlength='80' value="@@form['wlRadiusKey']"/></td>
</tr>
</table>

<table id="encryptionTypeD" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("WPAencryption"))</script>:</td>
	<td><input type="text"  name='encryptionType' value="@@form['encryptionType']" class='cdcsAjax' readonly/></td>
</tr>
</table>

<table id="wlWepD" width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("WEPencryption"))</script>:</td>
	<td><select name="wlWep" onChange='authModeChange(1)' value="@@form['wlWep']">
		<option value="disabled"><script language="JavaScript">document.write(_("disabled"))</script></option>
		<option value="enabled"><script language="JavaScript">document.write(_("enabled"))</script></option>
	</select></td>
</tr>
</table>

<!-- 802.1x -->
<!-- WEP  -->
<table id="div_8021x_wep" name="div_8021x_wep">
	<tr><td width='28%' colspan="2"><script language="JavaScript">document.write(_("secure 8021x wep"))</script></td>
	<td>
		<input name="ieee8021x_wep" value="0" type="radio" onClick="document.form.wep8021x.value='0';">&nbsp;<script language="JavaScript">document.write( _("disable"))</script> &nbsp;
		<input name="ieee8021x_wep" value="1" type="radio" onClick="document.form.wep8021x.value='1';">&nbsp;<script language="JavaScript">document.write( _("enable"))</script>
	</td>
	</tr>
</table>
<table id='keyInfo' width="80%">
<tr>
	<td width='28%'><script language="JavaScript">document.write(_("currentNetworkKey"))</script>:</td>
	<td><select name='wlKeyIndex' size='1'></select></td>
</tr>
<tr>
	<td><script language="JavaScript">document.write(_("networkKey"))</script> 1:</td>
	<td><input type='text' name='wlKeys1' size='30' maxlength=26 id="WEP_KEY1" onKeyUp="setKey(1)" value="@@form['wlKeys1']"/>&nbsp;&nbsp;<b id="TEXT1"></b></td>
</tr>
<tr>
	<td><script language="JavaScript">document.write(_("networkKey"))</script> 2:</td>
	<td><input type='text' name='wlKeys2' size='30' maxlength=26 id="WEP_KEY2" onKeyUp="setKey(2)" value="@@form['wlKeys2']"/>&nbsp;&nbsp;<b id="TEXT2"></b></td>
</tr>
<tr>
	<td><script language="JavaScript">document.write(_("networkKey"))</script> 3:</td>
	<td><input type='text' name='wlKeys3' size='30' maxlength=26 id="WEP_KEY3" onKeyUp="setKey(3)" value="@@form['wlKeys3']"/>&nbsp;&nbsp;<b id="TEXT3"></b></td>
</tr>
<tr>
	<td><script language="JavaScript">document.write(_("networkKey"))</script> 4:</td>
	<td><input type='text' name='wlKeys4' size='30' maxlength=26 id="WEP_KEY4" onKeyUp="setKey(4)" value="@@form['wlKeys4']"/>&nbsp;&nbsp;<b id="TEXT4"></b></td>
</tr>
<tr> 
	<td>&nbsp;</td><td><script language="JavaScript">document.write(_("Msg60"))</script></td>
</tr>
</table>

<div align="center"></p></p><input type="button" name="submitForm" onClick='submitF1();' value="Save" style="width:120px;"></div>
</form>
</form>

<form name="formList" method="POST" action="@@request['SCRIPT_NAME']">
<div class="line" style="padding-left:20px; margin: 8px 20% 16px 0;"></div>
<table width="85%">
<tr><th colspan="6"><script language="JavaScript">document.write(_("mbssid list"))</script></th></tr>
<tr>
	<td width="5%"><div nowrap align="center"><b><script language="JavaScript">document.write(_("number"));</script></b></div></td>
	<td width="5%"><div nowrap align="center"><b><script language="JavaScript">document.write(_("enabled"));</script></b></div></td>
	<td width="20%"><div nowrap align="center"><b><script language="JavaScript">document.write(_("SSID"));</script></b></div></td>
	<td width="20%"><div nowrap align="center"><b><script language="JavaScript">document.write(_("Network Authentication"));</script></b></div></td>
	<td width="15%"><div nowrap align="center"><b><script language="JavaScript">document.write(_("Encryption"));</script></b></div></td>
	<td width="20%"><div nowrap align="center"><b><script language="JavaScript">document.write(_("basic broadcast ssid"));</script></b></div></td>
</tr>
<script language="Javascript">
makeList();
</script>
</table>
</form>

</div>
<div id="footer"></div>
<script type="text/javascript">CopyRight();</script>
</body>
</html>
